{% block game_item %}
    {% if game %}
        <span class="game_block_title">{{ game.getName(app.request.locale) }}</span>
        <img class="game-img" src="{{ game.getIcon }}"/>

        <div class="game_frame_middle"></div>

        <span class="links_box">
        <a class="button button-md button-win fancybox_game_run fancybox.ajax"
           href="{{ path('casino_pay_game_run',{'game':game.getSlug,'type':'real'}) }}">Play
            to win</a>
        <a class="button button-md button-fun"
           href="{{ path('casino_game_run',{'game':game.getSlug,'type':'demo'}) }}">Play
            for fun</a>
        </span>
    {% endif %}
{% endblock %}

{% block game_item_big %}
    {% if game %}
        <span class="game_block_title">{{ game.getName(app.request.locale) }}</span>
        <img class="game-img game-img-big" src="{#/assets/uploads/r_all.png#}{{ game.getIconBig }}"/>

        <div class="game_frame_big"></div>

        <span class="links_box">
            <a class="button button-md button-win fancybox_game_run fancybox.ajax"
               href="{{ path('casino_pay_game_run',{'game':game.getSlug,'type':'real'}) }}">Play
                to win</a>
            <a class="button button-md button-fun"
               href="{{ path('casino_game_run',{'game':game.getSlug,'type':'demo'}) }}">Play
                for fun</a>
        </span>
    {% endif %}
{% endblock %}

{% block game_item_pay_chooser %}
    <div class="game_frame_middle"></div>

    <span class="links_box">
        <a class="button button-md button-win fancybox_game_run fancybox.ajax"
           href="{{ path('casino_game_run',{'game':game.getSlug,'type':'real'}) }}">Play
            to win</a>
        <a class="button button-md button-fun"
           href="{{ path('casino_game_run',{'game':game.getSlug,'type':'demo'}) }}">Play
            for fun</a>
    </span>
{% endblock %}