.bjqs {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
    top: 4px;
}

.bjqs-slide {
    position: absolute;
    display: none;
}

.bjqs-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.bjqs-controls.v-centered li a {
    position: absolute;
    width: 44px;
    height: 52px;
    background-image: url('../img/slider/sl_btns.png');
    text-indent: -9999px;
    top:50% !important;
    margin-top: -30px;

}

.bjqs-controls.v-centered li.bjqs-next a {
    right: 0;
    background-position: -54px 0px;

}

.bjqs-controls.v-centered li.bjqs-prev a {
    left: 0;
    background-position: 0px 0px;
}

.bjqs-markers {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.bjqs-markers.h-centered {
    text-align: center;
}

.bjqs-markers li {
    display: inline;
}

.bjqs-markers li a {
    display: inline-block;
}

.bjqs-caption {
    display: block;
    width: 96%;
    margin: 0;
    padding: 2%;
    position: absolute;
    bottom: 0;
}

#front_slider {
    background: #000;
} 