.fancybox-inner:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}
.fancybox-inner{
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0 black;
    /*width: auto !important;
    height: auto !important;*/
}
.new_popup{
    display: inline-block;
    vertical-align: middle;
    width: 366px;
}
.fos_user_registration_register {
    background-color: rgba(0,45,80,0.9);
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 30px 10px 10px;
    text-align: left;
}
.form-group {
    padding: 2px 13px;
}
.fos_user_registration_register .form-group input{
    background: none repeat scroll 0 0 #9fb0bd;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    height: 36px;
    outline: medium none;
    padding-left: 13px;
    width: 100%;
}
.fos_user_registration_register .form-group label{
    color: #faaf3a;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    height: 19px;
}
.fancybox-type-ajax.fancybox-opened .fancybox-skin {
    box-shadow: none;
}
.user_profile_form div.form-group{
    display: block;
    height: 50px;
}
.user_profile_form div.form-group > label {
    font-weight: bold;
    line-height: 35px;
    padding-right: 10px;
    text-align: right;
    width: 120px;
}
.user_profile_form div.form-group > div, .user_profile_form div.form-group > div > input {
    border: 0 none;
    box-sizing: border-box;
    color: #868686;
    float: right;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    outline: medium none;
    padding: 0;
}
.user_profile_form div.form-group > div > input{
    padding: 0 0 0 12px;
    width: 300px;
    background: none repeat scroll 0 0 #d5dbe2;
 }
.user_profile_form div.form-group div.form-inline > select.form-control {
    margin: 0 0 0 7px;
    width: auto;
}
.user_profile_form div.form-group div > select{
    background: none repeat scroll 0 0 #d5dbe2;
    border: 0 none;
    box-sizing: border-box;
    color: #868686;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin-left: -3px;
    outline: medium none;
    padding: 0 0 0 12px;
    width: 140px;
}
.profile .control-label {
    display: inline-block;
    vertical-align: middle;
    width: 108px;
}
.control-label {
    color: #193755;
    font-family: "Raleway",sans-serif;
    font-size: 17px;
}
.photo {
    margin: 0;
}

#ui-datepicker-div .ui-datepicker-title select {
    color: #000000;
}
