{% extends '::base.html.twig' %}
{% form_theme form '::user.form.twig' %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Changing Password</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}


    <div class="content content--getbonus">
        <div class="wrap">
            <div class="wrap--page">
                <div class="left-bar left-bar--bonusesview">

                    <div id="sign_in" class=" login-box">
                        {#<a class="popup-close" href="javascript:void(0)" onclick="$.fancybox.close();"></a>#}
                        <div class="popup-content">
                            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="">
                                {{ form_widget(form) }}
                                <div>
                                    <input class="button button-md button-win" type="submit" value="Change" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="right-bar right-bar--bonusview">
                    {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
