{% extends "::base.html.twig" %}

{% block title "Media" %}

    {% block body %}

        <h2>AJAX Image Upload</h2>
        <form id="image_upload_form" enctype="multipart/form-data" method="post">
            <img id="thumb-photo" src="" style="width: 100px;"/>
            <input type="file" name="images" id="photo"><br>
        </form>
        <script src="{{ asset('bundles/casinomedia/js/media.js') }}"></script>
        <script>
            $('#photo').change(function(e){
                handleMediaSimplePhoto(e, '#thumb-photo');
            })
        </script>
    {% endblock %}