{% extends "::base.html.twig" %}
{% form_theme bonusForm '::user.form.twig' %}
{% form_theme promoForm '::user.form.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Bonuses activity</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
<div class="content content--profile">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                <h3 class="table-heading">You have ${{ balance }}</h3>
                {#        {% if (error) %}
                            <h2 style="color: red;">{{ error }}</h2>
                        {% endif %}#}
                {% if currentBonus is not null %}
                    <div class="">
                        Current bonus: <b>{{ currentBonus.inputChoise }}</b>
                    </div>
                    <div class="progress my">
                        <div class="sub-my-div">{{ currentBonus.wagedPercents }}% Complete</div>
                        <div class="progress-bar progress-bar-warning progress-bar-striped my-div my-div2 proggers-bar" role="progressbar" aria-valuenow="{{ currentBonus.wagedPercents }}" aria-valuemin="0" aria-valuemax="100" style="width:0">
                            <div class="sub-my-div sub-my-div2">{{ currentBonus.wagedPercents }}% Complete</div>
                        </div>
                    </div>

                {% else %}
                    You dont have any bonuses yet.
                {% endif %}
                {{ form(bonusForm) }}

                <h4 class="table-heading">Enter promocode here</h4>
                {{ form(promoForm) }}
                 <h4 class="table-heading">Bonuses history</h4>
                {{ grid(grid,'::grid_blocks.html.twig') }}
                <a href="{{ path('user_bonus_accs_list') }}" class="wide-btn under-heading button_decoration">All
                    bonuses History</a>

            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
    <style>
        .content_static .table td {
            vertical-align: top;
            padding: 5px;
        }
        .content_static .table {
            border: 1px solid white;
            table-layout: fixed;
            width: 100%;
        }
        .content_static .table td, .content_static .table th {
            border: 1px solid white;
            overflow: hidden;
        }
        .content_static .table tr select, .content_static .table tr input{
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if currentBonus is not null %}
        <script>
            $(window).load( function(){
                $('.proggers-bar').css('width','{{ currentBonus.wagedPercents }}%');
            } );
        </script>
    {% endif %}
{% endblock %}

