{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Merchant status</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content content_static">
            {% if content is not empty %}
                <a href="{{ content }}" title="Make deposit">Make deposit</a>
            {% endif %}
            {% if error %}
                <div class="error">
                    <span>An error occured. Please try again or <a href="{{ path('casino_contact_form') }}" title="Contacts page">contact administration</a>.</span>
                </div>
            {% endif %}
        </div>
        {#{% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}#}
    </div>
{% endblock %}
