{% extends "::admin.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Merchant status</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="min-height: 500px;">
        <div class="row">
            <h3 class="page-title">
                Payout status</h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="/">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('admin_withdraw') }}">Back</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet box blue">
                        <!-- Default panel contents -->
                        <div class="portlet-title">
                            <div class="caption">
                                {% if content is defined %}
                                    Status of payout request: [{{ content }}]
                                {% endif %}
                                {% if status is defined %}
                                    Status of payout request: [{{ status }}]
                                {% endif %}
                                {% if dep is not empty %}
                                    <p>Deposit url: [<a href="{{ url('admin_treasury_deposit_show', {'id':dep.id}) }}" title="transaction">Deposit</a>]</p>
                                {% endif %}
                            </div>
                            <div class="error">
                                {{ error }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
