{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Payment status</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content content_static error">
            {{ error }}
        </div>
        <div class="content content_static">
            {% if content is defined %}
                Status of your last order: [{{  content }}]
            {% endif %}
            {% if status is defined %}
                Status of your last order: [{{  status }}]
            {% endif %}
            <p style="padding-top: 10px">
                <a href="{{ path('user_treasury_deposit') }}" title="Back to deposits">Back to list</a>
            </p>
        </div>
        {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
    </div>
{% endblock %}
