{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>EmailTemplate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td><a href="{{ vich_uploader_asset(entity, 'userFile', 'Casino\\UserBundle\\Entity\\UserDoc') }}"  title="{{ entity.doc }}">{{ entity.doc }}</a></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('docs_index') }}">
            Back to the list
        </a>
    </li>
    {#<li>{{ form(edit_form) }}</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
