<div class="footer">

    {#<div class="footer_top_info">
        <div class="info_column">
            <div class="info_h">
                <span>The only <br> place to play</span>
            </div>

            <div class="icon_section icon_a"></div>

            <div class="info_text">
                <p>At Casino.com our aim is simple – to provide trusted online gaming services that can't be matched for
                    quality and choice.</p>

                <p>
                    Our secure platform offers you the best promotions, the biggest jackpots and the greatest selection
                    of games on the market, so you don’t need to
                </p>
            </div>

        </div>
        <div class="info_column">
            <div class="info_h">
                <span>Unbeatable <br> Customer Support</span>
            </div>

            <div class="icon_section icon_b"></div>

            <div class="info_text">
                <p>We are committed to providing our casino players with unrivalled assistance, extraordinary rewards
                    and fantastic promotions.</p>

                <p> Our friendly and professional Customer Support agents are available 24/7 – so rest assured that
                    whenever you need us, we’re waiting to help.
                </p>
            </div>

        </div>

        <div class="info_column">
            <div class="info_h">
                <span>Get paid <br> to play</span>
            </div>

            <div class="icon_section icon_c"></div>

            <div class="info_text">
                <p>At Casino.com, we believe in rewarding our players. As a thank you for choosing us, you’ll earn
                    loyalty points each and every time you play in our casino.</p>

                <p>These points can then be swapped for real cash – so the more you play, the more you receive!</p>

            </div>

        </div>

        <div class="info_column">
            <div class="info_h"><span class="serious-gaming">Serious gaming</span></div>


            <div class="icon_section icon_d"></div>

            <div class="info_text">
                <p>Providing our players with a safe and secure casino is our primary concern. We use 128-bit encryption
                    to
                    ensure that all Casino.com players have peace of mind that their data is fully protected and
                    confidential.</p>
            </div>

        </div>

    </div>#}


    <div class="footer_banners">
        {% set depositUrl = path('casino_page',{'slug':'deposit'}) %}
        {# TODO: migrate it to text blocks #}
        {{ render(controller('CasinoDefaultBundle:Default:textBlock', {'key': 'footer'})) }}
    </div>

    {#<nav class="footer__nav">#}
        {#<div class="footer__link__wrap">#}
            {#<a href="{{ path('casino_page',{'slug':'promo'}) }}" class="profile__item button_decoration footer__link">Promotions</a>#}
        {#</div>#}
        {#<div class="footer__link__wrap">#}
            {#<a href="{{ depositUrl }}" class="profile__item button_decoration footer__link">Deposit options</a>#}
        {#</div>#}
        {#<div class="footer__link__wrap">#}
            {#<a href="{{ path('casino_page',{'slug':'about'}) }}" class="profile__item button_decoration footer__link">About us</a>#}
        {#</div>#}
        {#<div class="footer__link__wrap">#}
            {#<a href="{{ path('casino_contact_form') }}" class="profile__item button_decoration footer__link">Contact</a>#}
        {#</div>#}
    {#</nav>#}


    {# TODO: migrate to text blocks #}
    <div class="footer_info">{{ render(controller('CasinoDefaultBundle:Default:textBlock', {'key': 'footerText'})) }}</div>
</div>
