<header class="header">
    <div class="logo-block">
        <a href="{{ path('casino_default_homepage') }}" class="logo" title="Casino Lotedo"></a>
    </div>
    <div class="wrapper">
        <div class="pull-left">
            <div class="header-nav">
                {% set homeUrl = path('casino_default_homepage', {'_locale': app.request.locale}) %}
                {% if app.request.pathInfo != homeUrl %}
                    <a href="{{ homeUrl }}" class="button button-sm">{{ 'menu.homepage'|trans }}</a>
                {% endif %}
                <a href="{{ path('casino_page',{'slug':'promo'}) }}" class="button button-sm">{{ 'menu.promotions'|trans }}</a>
                <a href="{{ path('casino_page',{'slug':'deposit'}) }}" class="button button-sm">{{ 'menu.deposit_options'|trans }}</a>
                <a href="{{ path('casino_page',{'slug':'about'}) }}" class="button button-sm">{{ 'menu.about_us'|trans }}</a>
                <a href="{{ path('casino_contact_form', {'_locale': app.request.locale}) }}" class="button button-sm">{{ 'menu.contact'|trans }}</a>
            </div>
            <div class="header-nav m-left">
                <a href="{{ path('casino_page',{'slug':'legal'}) }}" class="button button-sm">{{ 'menu.warnings' |trans }}</a>
                <a href="{{ path('casino_page',{'slug':'responsible'}) }}" class="button button-sm">{{ 'menu.responsibilities' |trans }}</a>
                <a href="{{ path('casino_games_list') }}" class="button button-sm button-hover games-button">{{ 'menu.games'|trans }}</a>
            </div>
        </div>
        {#<div class="pull-left">#}

        {#</div>#}
        <div class="pull-right">
            {% if(app.user==null) %}
                <a href="{{ path('fos_user_security_login') }}" class="login-fancybox fancybox.ajax login-button">login/signup</a>
            {% endif %}
            <select class="lang_select hidden">
                <option value="gb" data-href="{{ path('casino_default_homepage_set_lang', {'lang':'en'}) }}" {% if app.request.locale == 'en' %}selected="selected"{% endif %}>English</option>
               {#<option value="nl"> Netherlands</option>
                <option value="do"> Dominican Republic</option>#}
                <option value="es" data-href="{{ path('casino_default_homepage_set_lang', {'lang':'es'}) }}" {% if app.request.locale == 'es' %}selected="selected"{% endif %}>Español</option>
            </select>

           {# <ul class="lang_select">
            <li>
                <a class="" href="javascript:void(0)">
                    {% if app.request.locale == 'en' %}
                    <span class="flag"></span>English</a>
                {% else %}
                    <span class="flag"></span>Español</a>
                {%  endif %}
                <ul>
                    <li class="active">
                        <a href="{{ path('casino_default_homepage_set_lang', {'lang':'en'}) }}"><span class="flag"></span>English</a>
                    </li>
                    <li>
                        <a href="{{ path('casino_default_homepage_set_lang', {'lang':'es'}) }}"><span class="flag"></span>Español</a>
                    </li>
                </ul>
            </li>

        </ul>#}
        {% if false%} {#(app.user==null)#}
            <div class="social" style="padding-top: 5px;">
                {#<a href="#" class="fb"></a>
                <a href="#" class="tw"></a>
                <a href="#" class="goog"></a>
                <a href="#" class="yt"></a>
                <a href="#" class="pint"></a>
                <a href="#" class="inst"></a>#}
                <script src="//ulogin.ru/js/ulogin.js"></script>
                <div id="uLogin" data-ulogin="display=small;fields=first_name,last_name;optional=nickname,phone,sex,photo_big,email;providers=facebook,google,twitter,youtube,instagram,googleplus;hidden=liveid,openid,steam;redirect_uri={{ url('casino_users_social') }}"></div>
            </div>
        {% endif %}

        </div>
    </div>
</header>
