{% if(app.user) %}
<div class="user_bar">
    <div class="user_bar_content">
        {#<a href="{{ path('user_bonus_list') }}" class="buy_credit_btn">My bonuses</a>#}
        <a class="buy_credit_btn" href="{{ path('casino_users_profile') }}">My profile</a>
        <div class="user_pic">{{ app.user.nickname }}</div>
        <div class="user_ballance">${{ app.user.getBalance }}</div>
        <div class="user_bonus">${{ app.user.getBonusBalance }}</div>
        <a href="{{ path('user_treasury_make_deposit') }}" class="buy_credit_btn">Buy credit</a>
        <a href="{{ path('casino_users_get_bonuses') }}" class="buy_credit_btn">Get Bonus</a>
        <a class="logout_btn" href="{{ path("fos_user_security_logout") }}">Log Out</a>
    </div>
</div>
    <script>
        setInterval(function () {
            $.get('/user/balance', function (res) {
                $('.user_ballance').html('$'+res.balance);
                $('.user_bonus').html('$'+res.bonus);
            }, 'json');
        }, 5000);
    </script>
{% endif %}
