{% extends '::base.html.twig' %}
{% form_theme form '::user.form.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Contacts</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}
{% block body -%}
    <div class="content content--profile">
        <div class="wrap">
            <div class="wrap--page">
                <div class="left-bar">
                    <div class="contact-form-upper">
                        <p>You can contact us via</p>
                        <p>
                            Mail: <a href="mailto:support@lotedo.com">support@lotedo.com</a>
                        </p>
                        <p>Skype: Lotedo</p>
                        <p>Also you can use online contact form:</p>
                    </div>
                    {% if sended  %}
                        <div class="page__heading">
                            <h2>Your reply has sucessfully submitted</h2>
                        </div>
                    {% else %}
                        <div class="page__heading">
                            <h2>Contact form</h2>
                        </div>
                        {{ form(form, {'attr': {'class': 'form_edit contacts_form checkbox-inline'}}) }}
                    {% endif %}
                    <div class="contact-form-lower">
                        <p>
                            If you are an affilate or bloger or reporter you can connect our affilate department
                        </p>
                        <a href="mailto:affilates@lotedo.com">affilates@lotedo.com</a>
                    </div>
                </div>
                <div class="right-bar">
                    {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

