{% extends "::admin.html.twig" %}

{% block title %}Mailing Settings{% endblock %}

{% block body %}
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('casino_admin_mailing') }}">Mailing Settings</a></li>
                {#<li>{{ edit_form.templateName }}</li>#}
            </ol>
        </div>
    </div>

    {{ form(edit_form) }}

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap-multiselect.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#casino_mailingbundle_mailing_groups').multiselect();
        });
    </script>
{% endblock %}