{% extends "::admin.html.twig" %}

{% block title %}Mailings{% endblock %}
{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('casino_admin_mailing_create') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-energy"></span> Add mailing
                </a>
            </div>
        {% endblock %}
        {% block title %}Mailings{% endblock %}
        {% block icon %}<i class="icon icon-energy"></i>{% endblock %}
    {% endembed %}
{% endblock %}