{% extends "::admin.html.twig" %}

{% block title %}Mailing creation{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <form class="form-horizontal" method="post">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_mailing') }}">Mailing</a></li>
                    <li class="active">Mailing creation</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span>Create
                </button>
            </div>
        </div>
        {{ form_widget(form) }}
    </form>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap-multiselect.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#casino_mailingbundle_mailing_groups').multiselect();
        });
    </script>
{% endblock %}