{% extends "::admin.html.twig" %}

{% block title %}Template config creation{% endblock %}

{#{% block body %}#}
    {#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
    {#<link href="{{ asset('assets/css/bootstrap-multiselect.css') }}" type="text/css" rel="stylesheet" />#}
{#{% endblock %}#}

{% block stylesheets %}
    <script src="{{ asset('assets/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#casino_mailingbundle_mailing_groups').multiselect();

            {#var emailCount = '{{ form.emails|length }}';#}
            {#$('#add-another-email').click(function(e) {#}
                {#e.preventDefault();#}

                {#var emailList = $('#merge-vars-fields-list');#}

                {#// grab the prototype template#}
                {#var newWidget = emailList.attr('data-prototype');#}
                {#// replace the "__name__" used in the id and name of the prototype#}
                {#// with a number that's unique to your emails#}
                {#// end name attribute looks like name="contact[emails][2]"#}
                {#newWidget = newWidget.replace(/__name__/g, emailCount);#}
                {#emailCount++;#}

                {#var deleteButton = $('<a/>', {#}
                    {#href: '#',#}
                    {#title: 'Remove this element',#}
                    {#text: 'Remove'#}
                {#});#}
                {#deleteButton.click(function(e){#}
                    {#e.preventDefault();#}
                    {#$(this).parent().remove();#}
                {#});#}
                {#// create a new list element and add it to the list#}
                {#var newLi = $('<li></li>').html(newWidget).append(deleteButton);#}
                {#newLi.appendTo(emailList);#}
            {#});#}
        });
    </script>
    <script>
        CKEDITOR.replace( 'casino_mailingbundle_mailing_content', { language: 'en'});
    </script>
    <form class="form-horizontal" method="post">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_mailing') }}">Mailing</a></li>
                    <li class="active">Mailing creation</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Create and Start
                </button>
            </div>
        </div>
        
        {# form here#}
        {#<div style="background-color: white;">#}
            {#<ul id="merge-vars-fields-list"#}
                {#data-prototype="{{ form_widget(form.emails.vars.prototype)|e }}">#}
                {#{% for emailField in form.emails %}#}
                    {#<li>#}
                        {#{{ form_errors(emailField) }}#}
                        {#{{ form_widget(emailField) }}#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
            {#<a href="#" id="add-another-email">Add another email</a>#}
        {#</div>#}
        {{ form_widget(form) }}
    </form>
{% endblock %}