<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Admin{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style>
        body { padding-top: 70px; }
    </style>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/casinodefault/css/grid.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Prerequisite for Date Range Picker (along with jquery and bootstrap.css -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        <link href="{{ asset('assets/admin/global/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        {#<link href="{{ asset('assets/admin/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css"/>#}
        {#<link href="{{ asset('assets/admin/global/plugins/fullcalendar/fullcalendar/fullcalendar.css') }}" rel="stylesheet" type="text/css"/>#}
        <link href="{{ asset('assets/admin/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL PLUGIN STYLES -->

        <!-- BEGIN PAGE STYLES -->
        <link href="{{ asset('assets/admin/admin/pages/css/tasks.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END PAGE STYLES -->

        <!-- BEGIN THEME STYLES -->
        <link href="{{ asset('assets/admin/global/css/components-md.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/global/css/plugins-md.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/admin/layout2/css/layout.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/admin/admin/layout2/css/themes/grey.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{ asset('assets/admin/admin/layout2/css/custom.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END THEME STYLES -->

    <!-- <link rel="shortcut icon" href="favicon.ico"/> -->
</head>

    <body class="page-md page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed">
    <nav class="page-header md-shadow-z-1-i navbar navbar-fixed-top" role="navigation">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="/">
                    {#<img class="logo-default" alt="logo" src="{{ asset('assets/admin/admin/layout2/img/logo-default.png') }}">#}
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <a data-target=".navbar-collapse" data-toggle="collapse" class="menu-toggler responsive-toggler" href="javascript:;">
            </a>
            {#<div class="page-actions">
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-circle red-pink dropdown-toggle" type="button" aria-expanded="false">
                        <i class="icon-bar-chart"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="icon-user"></i> New User </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-basket"></i> New order </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-circle green-haze dropdown-toggle" type="button" aria-expanded="false">
                        <i class="icon-bell"></i>&nbsp;<span class="hidden-sm hidden-xs">Post&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="icon-docs"></i> New Post </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-tag"></i> New Comment </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-share"></i> Share </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-flag"></i> Comments <span class="badge badge-success">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-users"></i> Feedbacks <span class="badge badge-danger">2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>#}
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="{{ path("admin_homepage") }}">MyCasino</a>#}
            </div>

            <div class="page-top">
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            {#<form method="GET" action="extra_search.html" class="search-form search-form-expanded">#}
                {#<div class="input-group">#}
                    {#<input type="text" name="query" placeholder="Search..." class="form-control">#}
					{#<span class="input-group-btn">#}
					{#<a class="btn submit" href="javascript:;"><i class="icon-magnifier"></i></a>#}
					{#</span>#}
                {#</div>#}
            {#</form>#}
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

            <li id="header_homepage_bar" class="dropdown dropdown-extended dropdown-notification">
                <a href="{{ path("casino_default_homepage") }}" target="_blank" class="dropdown-toggle">
                    <i class="icon icon-share-alt"></i>
                    <span class="badge hide"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>Return to webstite frontend.</h3>
                    </li>
                </ul>
            </li>
{#
            <li id="header_notification_bar" class="dropdown dropdown-extended dropdown-notification">
                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="icon-bell"></i>
                    <span class="badge hide"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>Test</h3>
                    </li>
                </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN INBOX DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li id="header_inbox_bar" class="dropdown dropdown-extended dropdown-inbox">
                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="icon-envelope-open"></i>
                    <span class="badge hide"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>Test</h3>
                    </li>
                </ul>
            </li>
            <!-- END INBOX DROPDOWN -->
            <!-- BEGIN TODO DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li id="header_task_bar" class="dropdown dropdown-extended dropdown-tasks">
                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="icon-calendar"></i>
                    <span class="badge hide"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>Test</h3>
                    </li>
                </ul>
            </li>#}
            <!-- END TODO DROPDOWN -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="javascript:;" aria-expanded="true">
                    {% if app.user.avatar is not empty %}
                        <img alt="" class="img-circle" src="{{ vich_uploader_asset(app.user, 'userFile', 'Casino\\UserBundle\\Entity\\User') }}"/>
                    {% elseif app.user.photo %}
                        <img alt="" class="img-circle" src="{{ app.user.getPhoto }}"/>
                    {% else %}
                        <img alt="" class="img-circle" src="{{ asset('assets/admin/admin/layout2/img/avatar3_small.jpg') }}"/>
                    {% endif %}
                    <span class="username username-hide-on-mobile">{{ app.user.username }}</span>
                    <i class="fa fa-angle-down"></i>
                    <span class="badge hide"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">
                            <i class="icon-user"></i> My Profile </a>
                    </li>
                    {#<li>
                        <a href="page_calendar.html">
                            <i class="icon-calendar"></i> My Calendar </a>
                    </li>
                    <li>
                        <a href="inbox.html">
                            <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
								3 </span>
                        </a>
                    </li>
                    <li>
                        <a href="page_todo.html">
                            <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
								7 </span>
                        </a>
                    </li>#}
                    <li class="divider">
                    </li>
                    {#<li>
                        <a href="extra_lock.html">
                            <i class="icon-lock"></i> Lock Screen </a>
                    </li>#}
                    <li>
                        <a href="{{ path("admin_logout") }}">
                            <i class="icon-key"></i> Log Out </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
            </div>


        </div><!-- /.container-fluid -->
    </nav>
    <div class="clearfix"> </div>
    <div class="page-container">
    <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
    {{ knp_menu_render('CasinoDefaultBundle:Builder:adminMenu',{'currentClass': 'active','template': 'CasinoDefaultBundle:Menu:knp_bootstrap_menu.html.twig'}) }}
    </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:1274px">
        <div class="container-fluid" style="min-height: 500px;">
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <hr/>
                {#<small class="pull-right" style="text-align: right;">Created by <a href="skype:igor-php-devloper">I.Melnichenko</a><br/>#}
                    Casino System &copy; {{ 'now'|date('Y') }}</small>
            </div>
        </div>
        {% block javascripts %}
            {#<script type="text/javascript" src="//cdn.ckeditor.com/4.4.6/standard-all/ckeditor.js"></script>#}
            <script type="text/javascript" src="//cdn.ckeditor.com/4.5.9/full/ckeditor.js"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery.blockui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/uniform/jquery.uniform.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery.cokie.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/global/scripts/metronic.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/admin/layout/scripts/layout.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/admin/pages/scripts/index.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/admin/admin/pages/scripts/tasks.js') }}"></script>
            <script>
                jQuery(document).ready(function() {
                    Metronic.init(); // init metronic core componets
                    Layout.init(); // init layout
                    Index.init();
                    Index.initDashboardDaterange();
                    Index.initJQVMAP(); // init index page's custom scripts
                    Index.initCalendar(); // init index page's custom scripts
                    Index.initCharts(); // init index page's custom scripts
                    Index.initChat();
                    Index.initMiniCharts();
//                    Index.hideDatagridFilters('.table tr.filter');
                    Tasks.initDashboardWidget();
                });
            </script>
        {% endblock %}
        </div>
    </div>
    </div>
    </body>
</html>
