<!-- BEGIN DATATABLES -->
    <h3 class="page-title">{{ block('title') }}</h3>
    <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('casino_admin_homepage') }}">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="#">{{ block('title') }}</a></li>
    </ul>
    {{ block('custom_toolbar') }}
    </div>
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    {{ block('icon') }}
                    <span class="caption-subject font-green-sharp bold uppercase">{{ block('title') }}</span>
                </div>
            </div>
            <div class="portlet-body">
                 {{ grid(grid, '::grid_blocks_js.jquery.html.twig') }}
                {# {{ grid(grid,'::grid_blocks.html.twig') }} #}
            </div>
        </div>
    </div>
    </div>
<!-- END DATATABLES -->
