<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        <div class="copyright">2015 &copy; Lotedo.com Admin Panel</div>
    </div>
    <div class="page-footer-tools">
        <span class="go-top">
        <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
<!-- END FOOTER -->
