<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Casino Lotedo{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox-2.1.5/jquery.fancybox.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-buttons.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/dark-heapbox-theme.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% endblock %}
</head>
<body class="{% if(app.user==null) %}not-user{% else %}is-user{% endif %}">
{% block toptitle %}{% endblock %}
<div class="wrapper{% if(app.user) %} registered-user{% endif %}">
    {% include 'blocks/toolbar.html.twig' %}
    <div class="header_container">
        <div class="neon_pattern"></div>
        {% include 'blocks/header.html.twig' %}
    </div>
        {% block body %}{% endblock %}
    {% include 'blocks/footer.html.twig' %}
</div>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type='text/javascript' src='https://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js'></script>
        <script type="text/javascript" src="{{ asset('assets/js/jquery.mousewheel-3.0.6.pack.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/jquery.fancybox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-buttons.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-media.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/swfobject.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/jquery.heapbox-0.9.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/casinogame/js/game.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/js.cookie.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                function makeSocialFocus(){
                    var myNodeList = document.querySelectorAll('.login-box .social-block > div > div');
                    if(myNodeList && myNodeList.length){
                        for (var i = 0; i < myNodeList.length; ++i) {
                            var item = myNodeList[i];
                            item.setAttribute('tabindex', '0');
                        }
                    }
                }

                $('.login-fancybox').fancybox({
                    closeBtn: false,
                    afterShow: function(){
                        setTimeout(function(){
                            makeSocialFocus();
                        }, 500);
                    }
                });

                $('.fancybox').fancybox({
                    closeBtn:false
                });

                $('.not-user .fancybox_game_run.button-win').fancybox({
                    closeBtn:false
                });

                $('.is-user .fancybox_game_run.button-win, .fancybox_game_run.button-fun').fancybox({
                    padding: 0,
                    margin: 0,
                    closeClick: false,
                    closeBtn:false,
                    helpers: {
                        overlay: {closeClick: false}
                    }
                });

                $(".lang_select").heapbox({
                    "onChange":function(val, elm) {
                        var sel = elm[0], cur_data = sel.options[sel.selectedIndex].dataset;
                        location.href = cur_data.href;
                    }
                });

                $.urlParam = function(name){
                    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                    if (results==null)
                    { return null; }
                    else
                    { return results[1] || 0; }
                };

                var urlbtag = $.urlParam('btag');
                if (!Cookies.get('btag') && urlbtag) {
                    Cookies.set('btag', urlbtag, {expires: 130});
                }
            });
        </script>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var params = {};
        {% if app.user is not null %}
            params.visitor = {};
            params.visitor.name = '{{ app.user.username }}';
            params.visitor.email = '{{ app.user.emailCanonical }}';
        {% endif %}
            var Tawk_API=Tawk_API || params,
                    Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/55f9082898fabba97c2bf110/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        {% if app.user is not null %}
        Tawk_API.onLoad = function(){
            Tawk_API.setAttributes({
                'id'            : '{{ app.user.id }}',
                'balance'       : '{{ app.user.balance }}',
                'bonusBalance'  : '{{ app.user.bonusBalance }}',
                'username'      : '{{ app.user.username}}',
                'fullName'      : '{{ app.user.firstName ~ ' ' ~ app.user.lastName }}',
                'isEnabled'     : '{{ app.user.isEnabled ? 'yes' : 'no'}}',
                'isLocked'      : '{{ app.user.isLocked ? 'yes' : 'no'}}'
            }, function(error){console.log(error);});
        };
        {% endif %}
        </script>
        <!--End of Tawk.to Script-->
    {% endblock %}
    </body>
</html>
