<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Casino Lotedo{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js'></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.mousewheel-3.0.6.pack.js') }}"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/jquery.fancybox.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox-2.1.5/jquery.fancybox.css') }}" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-buttons.css') }}" />
    <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-buttons.js') }}"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.css') }}" />
    <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.js') }}"></script>

    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="{{ asset('assets/fancybox-2.1.5/helpers/jquery.fancybox-media.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/swfobject.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/casinogame/js/game.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% if(app.user==null) %}not-user{% else %}is-user{% endif %}">
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>{{ entity.nameEn }}</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}
<div class="wrapper{% if(app.user) %} registered-user{% endif %}">
    {% include 'blocks/toolbar.html.twig' %}
    <div class="header_container">
        <div class="neon_pattern"></div>
        {% include 'blocks/header.html.twig' %}
    </div>
    {#{% block javascripts %}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    {#{% endblock %}#}

    <div class="main game">
        <div class="center_box">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% include 'blocks/footer.html.twig' %}
</div>
<div class="wrapper">

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.fancybox').fancybox();

        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null)
            { return null; }
            else
            { return results[1] || 0; }
        };

        var urlbtag = $.urlParam('btag');
        if (!Cookies.get('btag') && urlbtag) {
            Cookies.set('btag', urlbtag, {expires: 130});
        }

        var params = {};
        {% if app.user is not null %}
        params.visitor = {};
        params.visitor.name = '{{ app.user.username }}';
        params.visitor.email = '{{ app.user.emailCanonical }}';
        {% endif %}
        var Tawk_API=Tawk_API || params,
                Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/55f9082898fabba97c2bf110/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
        {% if app.user is not null %}
        Tawk_API.onLoad = function(){
            Tawk_API.setAttributes({
                'id'            : '{{ app.user.id }}',
                'balance'       : '{{ app.user.balance }}',
                'bonusBalance'  : '{{ app.user.bonusBalance }}',
                'username'      : '{{ app.user.username}}',
                'fullName'      : '{{ app.user.firstName ~ ' ' ~ app.user.lastName }}',
                'isEnabled'     : '{{ app.user.isEnabled ? 'yes' : 'no'}}',
                'isLocked'      : '{{ app.user.isLocked ? 'yes' : 'no'}}'
            }, function(error){console.log(error);});
        };
        {% endif %}
    });


</script>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/js.cookie.js') }}"></script>
        {% endblock %}
    </body>
</html>
