{% extends 'APYDataGridBundle::blocks_js.jquery.html.twig' %}

{% block grid %}
    <div class="table-container" style="">
        {% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
            {#<div class="filters-button">#}
            {#<script>#}
            {#$('.show-filters').text(function(i, text) {#}
            {#return $('tr.filter:visible').length && text == 'show filters' ? 'hide filters' : 'show filters';#}
            {#});#}
            {#</script>#}
            {#<button class="btn btn-default show-filters">show filters</button>#}
            {#</div>#}
            <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
                <div class="table-actions-wrapper">
                    {% if grid.massActions|length > 0 %}
                        {{ grid_actions(grid) }}
                    {% endif %}
                </div>
                <div class="table-scrollable">
                    <div class="table-filters">
                        {% if grid.isFilterSectionVisible %}
                            {{ grid_filters(grid) }}
                        {% endif %}
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        {% if grid.isTitleSectionVisible %}
                            {{ grid_titles(grid) }}
                        {% endif %}
                        </thead>
                        <tbody>
                        {{ grid_rows(grid) }}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if grid.isPagerSectionVisible %}
                            {{ grid_pager(grid) }}
                        {% endif %}
                        {% if grid.exports|length > 0 %}
                            {{ grid_exports(grid) }}
                        {% endif %}
                        {% if grid.tweaks|length > 0 %}
                            {{ grid_tweaks(grid) }}
                        {% endif %}
                    </div>
                </div>
                {% if withjs %}
                    {{ grid_scripts(grid) }}
                {% endif %}
            </form>
        {% else %}
            {{ grid_no_data(grid) }}
        {% endif %}
    </div>
{% endblock grid %}


{% block grid_titles %}
    <tr class="heading" role="row">
        {% for column in grid.columns %}
            {% if column.visible(grid.isReadyForExport) %}
                <th class="{% if column.align != 'left' %}align-{{ column.align }}{% endif %}{% if column.class %} {{ column.class }}{% endif %}{% if loop.last %} last-column{% endif %}"{% if(column.size > -1) %} style="width:{{ column.size }}px;"{% endif %}>
                    {%- spaceless %}
                        {% if column.type == 'massaction' %}
                            <input type="checkbox" class="grid-mass-selector"
                                   onclick="{{ grid.hash }}_markVisible(this.checked);"/>
                        {% else %}
                            {% set columnTitle = grid.prefixTitle ~ column.title ~ '__abbr' %}
                            {% if columnTitle|trans == columnTitle %}
                                {% set columnTitle = grid.prefixTitle ~ column.title %}
                            {% endif %}
                            {% if (column.sortable) %}
                                <a class="order" href="{{ grid_url('order', grid, column) }}"
                                   title="{{ 'Order by'|trans }} {{ columnTitle|trans }}">{{ columnTitle|trans }}</a>
                                {% if column.order == 'asc' %}
                                    <div class="sort_up"></div>&nbsp;
                                {% elseif column.order == 'desc' %}
                                    <div class="sort_down"></div>&nbsp;
                                {% endif %}
                            {% else %}
                                {{ columnTitle|trans }}
                            {% endif %}
                        {% endif %}
                    {% endspaceless -%}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
{% endblock grid_titles %}


{% block grid_filters %}
    <tr class="filter" role="row">
        {% for column in grid.columns %}
            {% if column.visible(grid.isReadyForExport) %}
                {#<th class="{% if column.class %}{{ column.class }}{% endif %}{% if loop.last %} last-column{% endif %}"{% if(column.size > -1) %} style="width:{{ column.size }}px;"{% endif %}>#}
                {% if column.filterable %}{{ grid_filter(column, grid)|raw }}{% endif %}
                {#</th>#}
            {% endif %}
        {% endfor %}
    </tr>
{% endblock grid_filters %}

{% block grid_column_operator %}
    {% if column.operatorsVisible %}
        <span class="grid-filter-operator">
        <select class="form-control" name="{{ grid.hash }}[{{ column.id }}][operator]"
                onchange="{{ grid.hash }}_switchOperator(this, '{{ grid.hash }}__{{ column.id }}__query__'{% if submitOnChange is sameas(false) %}, false{% endif %});">
            {% for operator in column.operators %}
                <option value="{{ operator }}"{% if op == operator %} selected="selected"{% endif %}>{{ operator |trans }}</option>
            {% endfor %}
        </select>
    </span>
    {% endif %}
{% endblock grid_column_operator %}

{% block grid_column_filter_type_input %}
    {% set isDatetime = column.type == 'datetime' %}
    {% set btwOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTW') %}
    {% set btweOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTWE') %}
    {% set isNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNULL') %}
    {% set isNotNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNOTNULL') %}
    {% set op = column.data.operator is defined ? column.data.operator : column.defaultOperator %}
    {% set from = column.data.from is defined ? column.data.from : null %}
    {% set to = column.data.to is defined ? column.data.to : null %}
    {#<span class="grid-filter-input">#}
    <table class="filtered">
        <tr>
            <td class="column-title">{{ column.title }}</td>
            <td>{{ grid_column_operator(column, grid, op, submitOnChange) }}</td>
            {#<span class="grid-filter-input-query">#}
            <td>
                {% set fromId = grid.hash ~ '__' ~ column.id ~ '__query__from' %}
                <input type="{{ column.inputType }}" value="{{ from }}"
                       class="form-control grid-filter-input-query-from" name="{{ grid.hash }}[{{ column.id }}][from]"
                       id="{{ fromId }}"
                       {% if submitOnChange is sameas(true) %}onkeypress="return {{ grid.hash }}_submitForm(event, this.form);"{% endif %} {{ ( op == isNullOperator or op == isNotNullOperator ) ? 'style="display: none;" disabled="disabled"' : '' }} />
                {% set toId = grid.hash ~ '__' ~ column.id ~ '__query__to' %}
                <input type="{{ column.inputType }}" value="{{ to }}"
                       class="form-control grid-filter-input-query-to"
                       name="{{ grid.hash }}[{{ column.id }}][to]" id="{{ toId }}"
                       {% if submitOnChange is sameas(true) %}onkeypress="return {{ grid.hash }}_submitForm(event, this.form);"{% endif %} {{ ( op == btwOperator or op == btweOperator ) ? '': 'style="display: none;" disabled="disabled"' }} />
                {% if isDatetime %}
                <script>
                    var pickerParams = {
                        autoUpdateInput: false,
                        timePicker: true,
                        timePickerIncrement: 60,
                        singleDatePicker: true,
                        showDropdowns: true,
                        locale: {
                            format: 'YYYY-MM-DD HH:mm:ss',
                            cancelLabel: 'Clear'
                        }
                    };
                    var applyIds = ['{{ fromId }}', '{{ toId }}'];
                    for (var i in applyIds) {
                        var selector = '#' + applyIds[i];
                        $(selector).on('apply.daterangepicker', function(ev, picker) {
                            $(this).val(picker.startDate.format(pickerParams.locale.format));
                        });
                        $(selector).on('cancel.daterangepicker', function(ev, picker) {
                            $(this).val('');
                        });
                        $(selector).daterangepicker(pickerParams);
                    }
                </script>
                {% endif %}
            </td>
        </tr>
    </table>
    {#</span>#}
    {#</span>#}
{% endblock grid_column_filter_type_input %}


{% block grid_column_filter_type_select %}
    {% set btwOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTW') %}
    {% set btweOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTWE') %}
    {% set isNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNULL') %}
    {% set isNotNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNOTNULL') %}
    {% set op = column.data.operator is defined ? column.data.operator : column.defaultOperator %}
    {% set from = column.data.from is defined ? column.data.from : null %}
    {% set to = column.data.to is defined ? column.data.to : null %}
    {% set multiple = column.selectMulti %}
    {% set expanded = column.selectExpanded %}
    <table class="filtered">
        <tr>
            <td class="column-title">{{ column.title }}</td>
            {#<span class="grid-filter-select">#}
            <td>{{ grid_column_operator(column, grid, op, submitOnChange) }}</td>
            {#<span class="grid-filter-select-query">#}
            <td>{% if expanded %}
                    <span class="grid-filter-select-query-from"
                          id="{{ grid.hash }}__{{ column.id }}__query__from" {{ ( op == isNullOperator or op == isNotNullOperator ) ? 'style="display: none;" disabled="disabled"' : '' }}>
        {% for key, value in column.values %}
            <span><input type="{% if multiple %}checkbox{% else %}radio{% endif %}"
                         name="{{ grid.hash }}[{{ column.id }}][from][]"
                         value="{{ key }}" {% if key in from %} checked="checked"{% endif %} {% if submitOnChange is sameas(true) %}onclick="return {{ grid.hash }}_submitForm(event, this.form);"{% endif %}/><label>{{ value }}</label></span>
        {% endfor %}
        </span>
                    <span class="grid-filter-select-query-to"
                          id="{{ grid.hash }}__{{ column.id }}__query__to" {{ ( op == btwOperator or op == btweOperator ) ? '': 'style="display: none;" disabled="disabled"' }}>
        {% for key, value in column.values %}
            <span><input type="{% if multiple %}checkbox{% else %}radio{% endif %}"
                         name="{{ grid.hash }}[{{ column.id }}][to]"
                         value="{{ key }}" {% if not to is null and to == key %} checked="checked"{% endif %} {% if submitOnChange is sameas(true) %}onclick="return {{ grid.hash }}_submitForm(event, this.form);"{% endif %}/><label>{{ value }}</label></span>
        {% endfor %}
        </span>
                    {% if multiple %}<input type="submit" value="{{ 'Go'|trans }}" />{% endif %}
                {% else %}
                    <select{% if multiple %} multiple="multiple"{% endif %}
                            name="{{ grid.hash }}[{{ column.id }}][from][]"
                            class="form-control grid-filter-select-query-from"
                            id="{{ grid.hash }}__{{ column.id }}__query__from" {% if submitOnChange is sameas(true) %}onchange="return {{ grid.hash }}_submitForm(event, this.form);"{% endif %} {{ ( op == isNullOperator or op == isNotNullOperator ) ? 'style="display: none;" disabled="disabled"' : '' }}>
                        <option value="">&nbsp;</option>
                        {% for key, value in column.values %}
                            <option value="{{ key }}"{% if key in from %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <select name="{{ grid.hash }}[{{ column.id }}][to]" class="form-control grid-filter-select-query-to"
                            id="{{ grid.hash }}__{{ column.id }}__query__to"
                            {% if submitOnChange is sameas(true) %}onchange="return {{ grid.hash }}_submitForm(event, this.form);"{% endif %} {{ ( op == btwOperator or op == btweOperator ) ? '': 'style="display: none;" disabled="disabled"' }}>
                        <option value="">&nbsp;</option>
                        {% for key, value in column.values %}
                            <option value="{{ key }}"{% if not to is null and to == key %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    {% if multiple %}<input type="submit" value="{{ 'Go'|trans }}" />{% endif %}
                {% endif %}
            </td>
    </table>
    {#</span>#}
    {#</span>#}
{% endblock grid_column_filter_type_select %}

{% block grid_exports %}
    <div class="form-group pull-right">
        {% spaceless %}
            <div class="col-sm-8">
                <select class="form-control"
                        name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_EXPORT') }}]">
                    <option value="-1">Export to</option>
                    {% for key, export in grid.exports %}
                        <option value="{{ key }}">{{ export.title|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-info col-sm-4" type="submit" value="{{ 'Export'|trans }}"/>
        {% endspaceless %}
    </div>
{% endblock grid_exports %}

{% block grid_pager_selectpage %}
    {{ 'Page'|trans }}
    {% spaceless %}
        <input class="btn btn-default btn-sm" type="button" class="prev"
               {% if grid.page <= 0 %}disabled="disabled"{% endif %} value="<"
               onclick="return {{ grid.hash }}_previousPage();"/>
        <input type="text" class="current form-control" style="width: 40px; display: inline-block; text-align: center;"
               value="{{ grid.page + 1 }}" size="2"
               onkeypress="return {{ grid.hash }}_enterPage(event, parseInt(this.value)-1);"/>
        <input class="btn btn-default btn-sm" type="button" value=">" class="next"
               {% if grid.page >= grid.pageCount-1 %}disabled="disabled"{% endif %}
               onclick="return {{ grid.hash }}_nextPage();"/> {{ 'of %count%'|trans({ '%count%' : grid.pageCount }) }}
    {% endspaceless %}
{% endblock grid_pager_selectpage %}

{% block grid_pager_results_perpage %}
    {{ ', Display'|trans }}
    <select class="form-control" style="display: inline-block; text-align: center; width: 80px;"
            onchange="return {{ grid.hash }}_resultsPerPage(this.value);">
        {% for key, value in grid.limits %}
            <option value="{{ key }}"{% if (key == grid.limit) %} selected="selected"{% endif %}>{{ value }}</option>
        {% endfor %}
    </select> {{ 'Items per page'|trans }}
{% endblock grid_pager_results_perpage %}

{% block grid_column_actions_cell %}
    {% set actions = column.getActionsToRender(row) %}
    <div class="btn-group-vertical">
        {% for action in actions %}
            <a class="btn btn-default btn-sm btn-wide"
               href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %}>{{ action.title|trans }}</a>
        {% endfor %}
    </div>
{% endblock grid_column_actions_cell %}

{% block grid_column_id_doc_cell %}
    <a href="{{ path('docs_admin_get',{'hash':value}) }}" title="{{ value }}">{{ value }}</a>
{% endblock grid_column_id_doc_cell %}

{% block grid_column_id_username_cell %}
    {% if value is not empty %}
        <a href="{{ path('casino_admin_users_edit',{'username':value}) }}" title="{{ value }}">{{ value }}</a>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock grid_column_id_username_cell %}

{% block grid_column_filter_type_actions %}
    <div class="filter-submit-buttons">
        <input class="btn btn-default btn-sm " type="submit" value="{{ 'bundles.datagrid.search'|trans }}">
        <a class="btn btn-default btn-sm btn-wide grid-reset"
           href="{{ grid_url('reset', grid) }}">{{ 'bundles.datagrid.reset_filters'|trans }}</a>
    </div>
{% endblock grid_column_filter_type_actions %}

{#{% block grid_column_id_game_win_stat_cell %}#}
    {#<a class="underline" href="{{ path('admin_winning_statistics', {'game': value}) }}" title="{{ value }}">#}
        {#{{ value }}#}
    {#</a>#}
{#{% endblock grid_column_id_game_win_stat_cell %}#}
