{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
        <div class="intup-wrapper">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% use 'form_div_layout.html.twig' with widget_attributes as base_widget_attributes %}
{% block widget_attributes %}
    {% set attr = {'placeholder': label|trans({}, translation_domain), 'class': 'popup-input'} %}
    {{- block('base_widget_attributes') -}}
{% endblock widget_attributes %}