{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
    <div class="form-input-wrap form-row {{ attr.row_class|default('') }}{% if (not compound or force_error|default
    (false)) and not
    valid %} has-error{% endif
    %}">
        {% set attr = attr|merge({class: attr.class|default('') ~ ' form__inpput'}) %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': attr }) }}
    </div>
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block checkbox_radio_label %}
    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {{- widget|raw -}}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} for="{{ id }}">
            {{- label is not sameas(false) ? label|trans({}, translation_domain) -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}

{% block textarea_widget %}
    {% spaceless %}
        <div class="row-wrap textarea-wrap">
            <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        </div>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <div class="row-wrap input-wrap">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock form_widget_simple %}

{#{% use 'form_div_layout.html.twig' with widget_attributes as base_widget_attributes %}#}
{#{% block widget_attributes %}#}
    {#{% set attr = {'placeholder': label|trans({}, translation_domain), 'class': 'popup-input'} %}#}
    {#{{- block('base_widget_attributes') -}}#}
{#{% endblock widget_attributes %}#}

{% block file_row %}
    {% spaceless %}
            {% set attr = attr|merge({class: attr.class|default('') ~ ' form__inpput'}) %}
            {{ form_errors(form) }}
            {{ form_widget(form, {'attr': attr }) }}
    {% endspaceless %}
{% endblock file_row %}