{% extends "::admin.html.twig" %}

{% block title %}Homepage settings{% endblock %}

{% block body %}
    <h3 class="page-title">
        Main page spining strip settings</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Spining strip settings</a>
            </li>
        </ul>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
    <div class="row">
        <div class="col-md-6 col-sm-6">
            {#{{ admin_users_dashboard() }}#}
            {{ form(form) }}
        </div>
    </div>
    {% endif %}
{% endblock %}
