{% extends "::admin.html.twig" %}

{% set title = 'Role Management' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h3 class="page-title">{{ title }}</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{ title }}</a>
            </li>
        </ul>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <form method="post">
        <div class="table-container"><div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="heading">
                <th></th>
                {% for role in roles|keys %}
                    <th class="text-center">{{ role }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for route in routes %}
            <tr>
                <td>{{ route.title }}</td>
                {% for role in roles|keys %}
                    <td class="text-center"><input type="checkbox"
                               name="roles[{{ role }}][{{ route.key }}]"
                               {%- if roleData[role][route.key] is defined and roleData[role][route.key] %}checked{% endif -%}></td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div></div>
        <input class="btn btn-default" type="submit" value="save">
        </form>
    {% endif %}
{% endblock %}
