{% extends "::admin.html.twig" %}

{% block title %}Homepage settings{% endblock %}

{% block body %}
    <h3 class="page-title">
        Winning Statistics Email Settings</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Winning Statistics Email Settings</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
