{% extends '::base.html.twig' %}
{% form_theme form '::user.form.twig' %}
{% block title 'Profile'|trans %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" type="text/css"/>
        {% stylesheets 'assets/css/jquery-ui.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block toptitle %}
        <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
            <div class="stars left"></div>
            <div class="title">
                <h1>{{ 'Profile'|trans }}</h1>
            </div>
            <div class="stars right"></div>
        </div>
    {% endblock %}
    {% block body %}
        <div class="content content--profile">
            <div class="wrap">
                <div class="wrap--page">
                    <div class="left-bar">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div style="padding: 10px; color: white;">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <div class="page__heading">
                            <h2>Account Settings</h2>
                        </div>
                        {{ form(form, {'attr': {'class': 'form_edit checkbox-inline'}}) }}
                        <a href="#" class="button button-md button-win href hashtag">Upload profile picture</a>
                        <a href="{{ path('fos_user_change_password') }}"
                           class="button button-md button-win">Change password</a>

                        <div class="profile__games">
                            <div class="game game_middle">
                                {{ game_item('ruletta-100') }}
                            </div>

                            {#<div class="clearfix"></div>#}
                            <div class="game game_middle">
                                {{ game_item('ruletta-25') }}
                            </div>

                        </div>
                    </div>
                    {% include 'CasinoPagesBundle:Default:profile-sidebar.html.twig' %}
                </div>
            </div>
        </div>
    {% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var formBirthday = $('#form_birthday');
            formBirthday.datepicker({
                dateFormat: 'dd-mm-yy',
                theme: 'dark',
                dayOfWeekStart: 1,
                yearStart: 1900,
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:-21"
            });
            var row = '<div class="form-input-wrap form-row">' +
                    '<div id="birthday_warning">You have to be 21 years old in order to register and play for money</div>' +
                    '</div>';
            formBirthday.parents('.form-row').before(row);
            formBirthday.keyup(function() {
                $(this).val('');
            });
            $('#form_birthday').change(function() {
                var parts = $(this).val().split('-'),
                    date = new Date(parts[2], parts[1], parts[0]),
                    today = new Date(),
                    isYounger = today.getTime() > 0 &&
                                parseInt(today.getTime() / 1000) - parseInt(date.getTime() / 1000) < 662256000,
                    warning = $('#birthday_warning');
                if (isYounger && !warning.data('error')) {
                    $(this).val('');
                    warning.css('background-color', 'red').css('color', 'white').data('error', '1');
                } else if (!isYounger && warning.data('error')) {
                    warning.css('background-color', 'white').css('color', 'red').data('error', null);
                }
//                if (isYounger && $('#birthday_warning').length == 0) {
//                    var row = '<div class="form-input-wrap form-row">' +
//                            '<div id="birthday_warning">We are sorry, you have to be 21 years old in order to play for money.</div>' +
//                            '</div>';
//                    $(this).parents('.form-row').before(row);
//                } else if (isYounger && $('#birthday_warning').length > 0) {
//                    $('#birthday_warning').remove();
//                }
            });
        });

        $('a[href="#"].button.button-md.button-win').click(function() {
            $("#form_userFile_file").click();
        });

        $('#form_userFile').parent().css("display", "none");

        $("#form_userFile_file").change(function (){
            var prettybutt = $('a[href="#"].button.button-md.button-win');
            prettybutt.addClass('button-hover');
            prettybutt.html($(this).val().split('\\').pop());
        });
    </script>

    {% javascripts '@CasinoUserBundle/Resources/public/js/jquery-ui.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
