{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Uploads</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block file_row %}
    {% spaceless %}
        {% set attr = attr|merge({class: attr.class|default('') ~ ' form__inpput'}) %}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': attr }) }}
    {% endspaceless %}
{% endblock file_row %}

{% block body %}
    <div class="main">
        <div class="content content_static">
            {{ grid(grid,'::grid_blocks.html.twig') }}
            <br/>
            <div>  {{ form(form) }}</div>
        </div>
        {#{% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}#}
    </div>
    <style>
        .content {
            width: 100%;
        }
        {#.content_static .table td {#}
        {#vertical-align: top;#}
        {#padding: 5px;#}
        {#}#}
        {#.content_static .table {#}
        {#border: 1px solid white;#}
        {#table-layout: fixed;#}
        {#width: 100%;#}
        {#}#}
        {#.content_static .table td, .content_static .table th {#}
        {#border: 1px solid white;#}
        {#overflow: hidden;#}
        {#}#}
        {#.content_static .table tr select, .content_static .table tr input{#}
        {#max-width: 100%;#}
        {#}#}
    </style>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var uglyButt = $("#casino_userbundle_userdoc_userFile_file");
            uglyButt.css("display", "none");
            $('.someclass.btn').click(
                    function(e){
                        e.preventDefault();
                        $("#casino_userbundle_userdoc_userFile_file").click();
                    }
            );

            uglyButt.change(function (){
                var prettybutt = $('.someclass.btn');
                prettybutt.addClass('button-hover');
                prettybutt.html($(this).val().split('\\').pop());
            });
        });
    </script>
{% endblock %}