{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title" {% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Password resetting</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body -%}
    <div class="content content--profile">
        <div class="wrap">
            <div class="wrap--page">
                <p>{{ data }}</p>
            </div>
        </div>
    </div>
{% endblock %}