{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: '::base.html.twig' %}

{% block fos_user_content %}
    <p>
        Password for this email has been already requested.
    </p>
{% endblock %}
