<div class="form_wrapper">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request popup login-box">
    <div class="popup-title">Password recovery</div>
    <a class="popup-close" href="javascript:void(0)" onclick="$.fancybox.close();"></a>

        {#{% if invalid_username is defined %}#}
            <p id="resetting-error" class="" style="display: none;" ></p>
            <p id="resetting-ok" style="display: none;" ></p>
        {#{% endif %}#}
    <div class="form-input-wrap form-row ">
        <label class="col-sm-2 control-label required" for="username">User name or email</label>
        <div class="row-wrap input-wrap">
            <input type="text" id="username" name="username" required="required" class=" form__inpput"/>
        </div>
    </div>
    <div>
        {#<input type="submit" value="Submit" class="button recovery" />#}
        <a href="#" class="button recovery submit">Submit</a>
    </div>
</form>
    <script>
        $(document).ready( function(){
            $('.button.recovery.submit').on('click', function(e){
                e.preventDefault();
                // ... retrieve the corresponding form.
                var $form = $('form.fos_user_resetting_request');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data.username = $('#username').val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    success: function(response) {
                        var errorP = $('p#resetting-error');
                        var okP = $('p#resetting-ok');
                        if(response.status = 'error'){
                            errorP.html(response.data).show();
                            okP.hide();
                        } else {
                            $form.hide();
                            errorP.html('').hide();
                            okP.html(response.data).show();
                        }
                    }
                });
            });
        });
    </script>
</div>