{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset" id="reset-form">
    {{ form_errors(form) }}

    {{ form_errors(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}


    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}

    {{ form_rest(form) }}

    <div class="intup-wrapper">
        <a onclick="$('#reset-form').submit();" href="javascript:void(0)" class="button button-submit">Reset password</a>
    </div>
</form>
