{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: '::base.html.twig' %}

{% block body %}
    <div class="wrap">
        <div class="resetting-form">
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
