{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: '::base.html.twig' %}

{% block body %}
    <div class="content content--profile">
        <div class="wrap">
            <div class="wrap--page">
                <p style="color: red;">
                    Password resetting link invalid or expired.
                    Please try to reset password again.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
