{% extends "::admin.html.twig" %}

{% block title %}Email template list{% endblock %}
{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('email-template_new') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-energy"></span> Add template
                </a>
            </div>
        {% endblock %}
        {% block title %}Email templates{% endblock %}
        {% block icon %}<i class="icon icon-energy"></i>{% endblock %}
    {% endembed %}
{% endblock %}
{#
{% block body -%}
    <h1>EmailTemplate list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Template Name</th>
                <th>Emailfrom</th>
                <th>Emailfromname</th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.TemplateName }}</td>
                <td>{{ entity.emailFrom }}</td>
                <td>{{ entity.emailFromName }}</td>
                <td>{{ entity.subject }}</td>
                &#123;&#35;<td>{{ entity.vars }}</td>&#35;&#125;
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('email-template_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('email-template_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email-template_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}#}
