{% extends '::admin.html.twig' %}

{% block body -%}
    <div class="portlet light">
        <h1>Create new email Template</h1>

        {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('email-template') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var newVar = $('<a/>', {'id':'add-another-var', 'class':'btn-default btn'});
            newVar.text('add another element');

            var deleteButton = $('<a/>', {
                href: '#',
                title: 'Remove this element',
                text: 'Remove',
                'class':'mv-delete'
            }).click(function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            $('.mv-label').append(deleteButton);
            $('#vars-label').append(newVar);

            var varsCount = '{{ form.vars|length }}';
            console.log(varsCount);
            newVar.click(function (e) {
                e.preventDefault();

                var varsList = $('#casino_mailingbundle_template_vars');

                // grab the prototype template
                var newWidget = varsList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                var newVar = $('<div/>').html( newWidget.replace(/__name__/g, varsCount) ).contents();

                var deleteButton = $('<a/>', {
                    href: '#',
                    title: 'Remove this element',
                    text: 'Remove',
                    'class':'mv-delete'
                }).click(function (e) {
                    e.preventDefault();
                    $(this).parent().parent().remove();
                });

                newVar.children('.mv-label').append(deleteButton);
                varsCount++;

                varsList.append(newVar);
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #casino_mailingbundle_template_vars > .form-group {
            clear: both;
        }
        #add-another-var {
            display: block;
        }
        .mv-delete {
            display: block;
            text-decoration: underline;
        }
    </style>
{% endblock %}