{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>EmailTemplate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email from which email will be sent</th>
                <td>{{ entity.emailFrom }}</td>
            </tr>
            <tr>
                <th>Email name</th>
                <td>{{ entity.emailFromName }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ entity.subject }}</td>
            </tr>
            <tr>
                <th>Vars</th>
                <td>{{ entity.vars|join('|') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('email-template') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(edit_form) }}</li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
