{% block admin_user_dashboard %}
    <div class="portlet box blue">
        <!-- Default panel contents -->
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user"></i> Users activity
            </div>
            <div class="tools">
                <a class="config" data-toggle="modal" href="{{ path('casino_admin_users') }}" data-original-title="All Users" title="All Users">
                </a>
                <a class="fullscreen" href="javascript:;" data-original-title="" title="">
                </a>
                <a class="remove" href="javascript:;" data-original-title="" title="">
                </a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 80px; text-align: center;">Id</th>
                        <th>Nickname</th>
                        <th>Last activity</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td style="width: 80px; text-align: center;">{{ user.getId }}</td>
                        <td>{{ user.getNickname }}</td>
                        <td style="width: 150px;">{{ user.getLastActivity|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
