{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title">
        <div class="stars left"></div>
        <div class="title">
            <h1>Check your email</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body -%}
    <div class="content content--profile">
        <div class="wrap">
            <div class="wrap--page">
                <p>Email with registration link has been sent to {{ user.email }}. Please check it to complete registration.</p>
            </div>
        </div>
    </div>
{% endblock %}