{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Confirmed</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body -%}
    {#<h1>UserAffiliate</h1>#}
<div class="content content--profile">
    <div class="wrap">
        <div class="wrap--page">
            <p>Congratulation! Your registration is confirmed!</p>
        </div>
    </div>
</div>
{% endblock %}