{% trans_default_domain 'CasinoUserBundle' %}

{% form_theme form '::popup.form.twig' %}

<div id="sign_up" class="popup login-box register-box">
    <a class="popup-close" href="javascript:void(0)" onclick="$.fancybox.close();"></a>

    <div class="popup-content">
        <div class="popup-title">{{ 'registration.popup_title'|trans({}, 'FOSUserBundle') }}</div>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
              class="register-form">
            <div class="row">
                {{ form_widget(form, {'attr':{'class':'login-inputs'} }) }}
                <script src="//ulogin.ru/js/ulogin.js"></script>
                <div class="social-column">
                    <div id="uLogin" class="social-block u-login" style="padding-top: 5px;"
                         data-ulogin="display=panel;fields=first_name,last_name;optional=nickname,phone,sex,photo_big,email;providers=twitter,vkontakte,googleplus,facebook;hidden=;redirect_uri={{ url('casino_users_social') }}"></div>
                    <a href="{{ path('fos_user_security_login') }}"
                       class="login-fancybox fancybox.ajax signup_link button button-submit submit-sm left-m">{{ 'registration.sign_in'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
            <div class="row unpad">
                    <a class="button button-submit divide-12" href="#"
                       onclick="$('.register-form').submit(); return false;">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a>
            </div>
            <div class="login-errors row unpad">
                {{ form_errors(form) }}
            </div>
            {% if( btag ) %}
                <input type="hidden" name="btag" value="{{ btag }}">
            {% endif %}
        </form>
    </div>
</div>
</div>

