{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: '::base.html.twig' %}

{% block body %}
{% include "CasinoUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}
