{% extends "::admin.html.twig" %}

{% block title %}
    {% if (form.vars.value.getName) %}
        Group Edit - {{ form.vars.value.getName }}
    {% else  %}
        Group Add
    {% endif %}
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_group') }}">Group</a></li>
                    <li class="active">{{ form.vars.value.getName }}</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>
    {{ form_widget(form) }}
    </form>
    <hr/>
    
{% endblock %}
