{% extends "::admin.html.twig" %}

{% block title %}Groups{% endblock %}
{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('casino_admin_group_add') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-tag"></span> Add
                </a>
            </div>
        {% endblock %}
        {% block title %}Groups{% endblock %}
        {% block icon %}<i class="icon icon-tag"></i>{% endblock %}
    {% endembed %}
{% endblock %}