{#<div class="content_banners">#}
    {#<a href="#"><img src="/assets/img/content_banners/c1.png"/></a>#}
    {#<a href="#"><img src="/assets/img/content_banners/c2.png"/></a>#}
    {#<a href="#"><img src="/assets/img/content_banners/c3.png"/></a>#}
    {#<a href="#"><img src="/assets/img/content_banners/c4.png"/></a>#}
    {#<a href="#"><img src="/assets/img/content_banners/c5.png"/></a>#}
    {#<a href="#"><img src="/assets/img/content_banners/c6.png"/></a>#}
    {#<a href="#"><img src="/assets/img/content_banners/c7.png"/></a>#}
{#</div>#}
