{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>{{ title }}</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content content_static">
            {{ grid(grid,'::grid_blocks.html.twig') }}
        </div>
        {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
    </div>
    <style>
        .content_static .table td {
            vertical-align: top;
            padding: 5px;
        }
        .content_static .table {
            border: 1px solid white;
            table-layout: fixed;
            width: 100%;
        }
        .content_static .table td, .content_static .table th {
            border: 1px solid white;
            overflow: hidden;
        }
        .content_static .table tr select, .content_static .table tr input{
            max-width: 100%;
        }
    </style>
{% endblock %}
