{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bjqs-1.3.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            {% if showLogin is defined %}
            window.showLogin ={{ showLogin }};
            $(window).load( function(){
                $('.login-button').click();
            } );
            {% endif %}
            $('.scroller .inner').marquee({
                //speed in milliseconds of the marquee
                duration: 8000,
                //gap in pixels between the tickers
                gap: 500,
                //time in milliseconds before the marquee will start animating
                delayBeforeStart: 400,
                //'left' or 'right'
                direction: 'left',
                //true or false - should the marquee be duplicated to show an effect of continues flow
                duplicated: true
            });
            $('#front_slider').bjqs({
                animtype: 'fade',
                height: 390,
                width: 1001,
                responsive: false,
                randomstart: false
            });
        });
    </script>
{% endblock %}

{% block body %}
<div class="main home">
    {% include 'CasinoDefaultBundle:Default:slider.html.twig' %}
    {% if marquee is defined and  marquee.switcher %}
        <div class="scroller">
            <div class="inner">{{ marquee.text }}</div>
        </div>
    {% endif %}


    <div>
        <div class="game_column_left">
            <div class="game game_middle float_left">
                {{ game_item_by_position(1) }}
            </div>

            <div class="game game_middle float_left bottom_game">
                {{ game_item_by_position(4) }}
            </div>

        </div>

        <div class="big_center">
            <div class="game yellow-light game_big">
                {{ game_item_big(2) }}
            </div>
        </div>

        <div class="game_column_right">
            <div class="game game_middle float_left">
                {{ game_item_by_position(3) }}
            </div>


            <div class="game game_middle float_left bottom_game">
                {{ game_item_by_position(5) }}
            </div>

        </div>
    </div>


    <div class="center_box">

        <div class="game game_middle">
            {{ game_item_by_position(6) }}
        </div>


        <div class="game game_middle">
            {{ game_item_by_position(7) }}
        </div>
        <div class="game game_middle">
            {{ game_item_by_position(8) }}
        </div>

        <a href="{{ path('casino_games_list') }}" class="game game_middle game-more red">

            <span id="game_more" class="game-img game_more"></span>

            <span class="game_frame_middle"></span>

        </a>

    </div>

    {% include 'CasinoDefaultBundle:Default:banners.html.twig' %}
    {% include 'CasinoDefaultBundle:Default:widgets.html.twig' %}


</div>
{% endblock %}
