<div class="sl_outer">
    <div class="sl_top_border"></div>
    <div class="sl_bottom_border"></div>
    <div class="sl_right_border"></div>
    <div class="sl_left_border"></div>
    <div class="sl_inner_wr">
        <div id="front_slider">


            <!-- slider -->
            <ul class="bjqs">
                {% if slides is defined %}
                    {% for key, slide in slides %}
                    <li><img  src="{{  asset('assets/slides/' ~ slide) }}"></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <!-- slider -->

        </div>
    </div>
</div>