{% extends '::admin.html.twig' %}

{% block body -%}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" type="text/css"/>
        {% stylesheets 'assets/css/jquery-ui.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <h1>Promocode edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('promocode-admin') }}">
            Back to the list
        </a>
    </li>
    {#<li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#casino_bonusbundle_promocode_condStartDate').datepicker({
                dateFormat: 'dd-mm-yy',
                theme: 'dark',
                dayOfWeekStart: 1,
                yearStart: 1900,
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:-18"
            });
            $('#casino_bonusbundle_promocode_condEndDate').datepicker({
                dateFormat: 'dd-mm-yy',
                theme: 'dark',
                dayOfWeekStart: 1,
                yearStart: 1900,
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:-18"
            });
        });
    </script>
    {% javascripts '@CasinoUserBundle/Resources/public/js/jquery-ui.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
