{% extends "::admin.html.twig" %}

{% block title %}Promocodes{% endblock %}
{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('promocode-admin_create') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-control-play"></span> New promocode
                </a>
            </div>
        {% endblock %}
        {% block title %}Promocodes{% endblock %}
        {% block icon %}<i class="icon icon-users font-green-sharp"></i>{% endblock %}
    {% endembed %}
{% endblock %}