{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Promocode</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Use times</th>
                <td>{{ entity.useTimes }}</td>
            </tr>
            <tr>
                <th>Is temporary?</th>
                <td>{{ entity.isTemporary }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn-default btn" href="{{ path('promocode-admin') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn-default btn" href="{{ path('promocode-admin_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    <style>
        ul.record_actions{
            list-style: none;
        }
        ul.record_actions li {
            display: inline-block;
            vertical-align: middle;
        }
        ul.record_actions li form .form-group {
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}


