{% extends "::base.html.twig" %}
{% form_theme form '::user.form.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Deposit</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
<div class="content content--profile">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                {{ form(form) }}
                 <h4 class="table-heading">Deposits history</h4>
                {{ grid(grid,'::grid_blocks.html.twig') }}
                <a href="{{ path('user_treasury_deposit') }}" class="wide-btn under-heading button_decoration">All
                    deposits history</a>
            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
    <style>
        .content_static .table td {
            vertical-align: top;
            padding: 5px;
        }
        .content_static .table {
            border: 1px solid white;
            table-layout: fixed;
            width: 100%;
        }
        .content_static .table td, .content_static .table th {
            border: 1px solid white;
            overflow: hidden;
        }
        .content_static .table tr select, .content_static .table tr input{
            max-width: 100%;
        }
    </style>
{% endblock %}

