{% extends "::base.html.twig" %}

{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>{% if title is defined %}{{ title }}{% else %}Bonuses activity{% endif %}</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
<div class="content content--profile your-bonus-list">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                {{ grid(grid,'::grid_blocks.html.twig') }}
            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
