{% extends "::admin.html.twig" %}

{% block title %}Bonuses activity details{% endblock %}

{% block body %}
    <h1>Deposit</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ entity.amount }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_treasury_deposit') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
