{% extends "::base.html.twig" %}
{% form_theme form '::user.form.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>{% if title is defined %}{{ title }}{% else %}Bonuses activity{% endif %}</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
<div class="content content--profile">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                {#<div class="withdraw__upper-row">
                    <a href="#" class="profile__item button_decoration upload-withdraw_btn">upload</a>
                </div>
                <div class="withdraw__uploaded">
                    <div class="withdraw__uploaded__item">
                        <div class="uploaded__doc"></div>
                        <p>Filename</p>
                    </div>
                    <div class="withdraw__uploaded__item">
                        <div class="uploaded__doc"></div>
                        <p>Filename</p>
                    </div>
                    <div class="withdraw__uploaded__item">
                        <div class="uploaded__doc"></div>
                        <p>Filename</p>
                    </div>
                </div>#}
                <div class="withdraw__picture"></div>
                <div class="withdraw__radio">
                    <div>
                        <input id="Field1_0" name="pay_system" type="radio" class="field radio" value="Neteller"
                               checked="checked">
                        <label class="choice" for="Field1_0">Neteller</label>
                    </div>
                    <div>
                        <input id="Field1_1" name="pay_system" type="radio" class="field radio" value="Skrill" disabled="disabled">
                        <label class="choice" for="Field1_1">Skrill</label>
                    </div>
                </div>
                <div class="withdrow_inputs">
                    {% if user_verifyed %}
                        {{ form(form,{'attr': {'id': 'withdraw_form'}}) }}
                        <h2>Your balance is ${{ money }}</h2>
                        <button class="form__submit upload-withdraw_btn button_decoration" onclick="$('#withdraw_form').submit(); return false;">Withdraw</button>
                    {% else %}
                        To withdraw money you must verify your person first.
                        <a href="{{ path('docs_index') }}" title="Your uploads">Follow this link</a>
                    {% endif %}
                </div>
                {{ grid(grid,'::grid_blocks.html.twig') }}
            </div>
            <div class="right-bar">
            {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
