{% extends "::admin.html.twig" %}

{% block title %}Page - {{ form.vars.value.getNameEn }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.replace( 'form_contentEn', { language: 'en' });
        CKEDITOR.replace( 'form_contentEs', { language: 'en'});
        CKEDITOR.config.extraPlugins = 'justify';
        var config = [
            { name: 'styles', groups: [ 'styles' ] },
            { name: 'colors', groups: [ 'colors' ] },
            { name: 'tools', groups: [ 'tools' ] }
        ];
//        for (var i in config) {
//            CKEDITOR.config.toolbar.push(config[i]);
//        }
    </script>
{% endblock %}

{% block body %}
    <form class="form-horizontal" role="form" method="POST" action="/admin/page/update/{{ entity.getId }}">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('admin_page') }}">Pages</a></li>
                    <li class="active">{{ form.vars.value.getNameEn }}</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>
        {{ form_errors(form) }}
        <input type="hidden" name="casino_pagesbundle_page[_token]" value="{{ csrf_token('casino_pagesbundle_page') }}"/>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="form_slug" class="col-sm-2 control-label">Slug</label>
                    <div class="col-sm-10">
                        <input type="text" name="casino_pagesbundle_page[slug]" class="form-control" id="form_slug" value="{{ form.vars.value.getSlug }}" required="required">
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#form_name_en_tab" role="tab" data-toggle="tab">Name EN</a></li>
                            <li role="presentation"><a href="#form_name_es_tab" role="tab" data-toggle="tab">Name ES</a></li>
                        </ul>
                        {{ form_errors(form.nameEn) }}
                        {{ form_errors(form.nameEs) }}
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="form_name_en_tab">
                                <input type="text" name="casino_pagesbundle_page[nameEn]" class="form-control" id="form_nameEn" value="{{ form.vars.value.getNameEn }}" required="required">
                            </div>
                            <div role="tabpanel" class="tab-pane" id="form_name_es_tab">
                                <input type="text" name="casino_pagesbundle_page[nameEs]" class="form-control" id="form_nameEs" value="{{ form.vars.value.getNameEs }}" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#form_seo_en_tab" role="tab" data-toggle="tab">SEO EN</a></li>
                    <li role="presentation"><a href="#form_seo_es_tab" role="tab" data-toggle="tab">SEO ES</a></li>
                </ul>
                <br/>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="form_seo_en_tab">
                        <div class="form-group">
                            <label for="form_seoTitleEn" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" name="casino_pagesbundle_page[seoTitleEn]" class="form-control" id="form_seoTitleEn" value="{{ form.vars.value.getSeoTitleEn }}">
                                {{ form_errors(form.seoTitleEn) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoDescriptionEn" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" name="casino_pagesbundle_page[seoDescriptionEn]" class="form-control" id="form_seoDescriptionEn" value="{{ form.vars.value.getSeoDescriptionEn }}">
                                {{ form_errors(form.seoDescriptionEn) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoKeywordsEn" class="col-sm-2 control-label">Keywords</label>
                            <div class="col-sm-10">
                                <input type="text" name="casino_pagesbundle_page[seoKeywordsEn]" class="form-control" id="form_seoKeywordsEn" value="{{ form.vars.value.getSeoKeywordsEn }}">
                                {{ form_errors(form.seoKeywordsEn) }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="form_seo_es_tab">
                        <div class="form-group">
                            <label for="form_seoTitleEs" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" name="casino_pagesbundle_page[seoTitleEs]" class="form-control" id="form_seoTitleEs" value="{{ form.vars.value.getSeoTitleEs }}">
                                {{ form_errors(form.seoTitleEs) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoDescriptionEs" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" name="casino_pagesbundle_page[seoDescriptionEs]" class="form-control" id="form_seoDescriptionEs" value="{{ form.vars.value.getSeoDescriptionEs }}">
                                {{ form_errors(form.seoDescriptionEs) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoKeywordsEs" class="col-sm-2 control-label">Keywords</label>
                            <div class="col-sm-10">
                                <input type="text" name="casino_pagesbundle_page[seoKeywordsEs]" class="form-control" id="form_seoKeywordsEs" value="{{ form.vars.value.getSeoKeywordsEs }}">
                                {{ form_errors(form.seoKeywordsEs) }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <h4>Settings</h4>
                <div class="form-group">
                    <label for="form_is_active" class="col-sm-4 control-label">Is active</label>
                    <div class="col-sm-8" style="padding-top: 7px;">
                        <input type="checkbox" id="form_is_active" name="casino_pagesbundle_page[is_active]" value="1" {% if (form.vars.value.isActive) %}checked="checked"{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#form_content_en_tab" role="tab" data-toggle="tab">Content EN</a></li>
                    <li role="presentation"><a href="#form_content_es_tab" role="tab" data-toggle="tab">Content ES</a></li>
                </ul>
                {{ form_errors(form.contentEn) }}
                {{ form_errors(form.contentEs) }}
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="form_content_en_tab">
                        <textarea class="form-control" id="form_contentEn" name="casino_pagesbundle_page[contentEn]">{{ form.vars.value.getContentEn }}</textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="form_content_es_tab">
                        <textarea class="form-control" id="form_contentEs" name="casino_pagesbundle_page[contentEs]">{{ form.vars.value.getContentEs }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ form(delete_form) }}
{% endblock %}
