{% extends "::admin.html.twig" %}

{% block title %}Pages{% endblock %}

{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('admin_page_new') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-page"></span> Add
                </a>
            </div>
        {% endblock %}
        {% block title %}Pages{% endblock %}
        {% block icon %}<i class="icon icon-pages font-green-sharp"></i>{% endblock %}
    {% endembed %}
{% endblock %}