{% extends "::admin.html.twig" %}

{% block title %}Pages{% endblock %}

{% block body %}
    <h1>Page</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Seotitleen</th>
                <td>{{ entity.seoTitleEn }}</td>
            </tr>
            <tr>
                <th>Seodescriptionen</th>
                <td>{{ entity.seoDescriptionEn }}</td>
            </tr>
            <tr>
                <th>Seokeywordsen</th>
                <td>{{ entity.seoKeywordsEn }}</td>
            </tr>
            <tr>
                <th>Seotitlees</th>
                <td>{{ entity.seoTitleEs }}</td>
            </tr>
            <tr>
                <th>Seodescriptiones</th>
                <td>{{ entity.seoDescriptionEs }}</td>
            </tr>
            <tr>
                <th>Seokeywordses</th>
                <td>{{ entity.seoKeywordsEs }}</td>
            </tr>
            <tr>
                <th>Nameen</th>
                <td>{{ entity.nameEn }}</td>
            </tr>
            <tr>
                <th>Namees</th>
                <td>{{ entity.nameEs }}</td>
            </tr>
            <tr>
                <th>Contenten</th>
                <td>{{ entity.contentEn }}</td>
            </tr>
            <tr>
                <th>Contentes</th>
                <td>{{ entity.contentEs }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ entity.isactive }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_page') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_page_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
