{% extends "::admin.html.twig" %}

{% block title %}Treasury Settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                <li>Treasury Settings</li>
            </ol>
        </div>
    </div>
    <table class="table table-bordered table-hover">
            <tr>
                <td> Neteller </td>
                <td style="width: 100px;">
                    <a class="btn btn-default"
                       href="{{ path('casino_treasury_admin_setting_update',{'name':'Neteller'}) }}">Configure</a></td>
            </tr>
    </table>
{% endblock %}
