{% extends "::admin.html.twig" %}

{% block title %}Treasury Settings{% endblock %}

{% block body %}
    <form role="form" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('casino_treasury_admin_setting') }}">Treasury Settings</a></li>
                <li>{{ gatewayName }}</li>
            </ol>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" type="submit"><span
                        class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    </div>
        {#{% for key, default in gateway.getDefaultParameters %}#}
        {% for key, field in settings %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="gateway_{{key}}">{{ key }}</label>
                <div class="col-sm-8">
                    {% if key == 'testMode' %}
                        <input class="form-control" type="checkbox" name="gateway[{{key}}]" id="gateway_{{key}}" {% if field == 'on' %}checked="checked"{% endif %} />
                    {% else %}
                        <input class="form-control" type="text" name="gateway[{{key}}]" id="gateway_{{key}}" value="{{field}}" />
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% if 'testMode' not in settings|keys %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="gateway_testMode">testMode</label>
                <div class="col-sm-8">
                    <input class="form-control" type="checkbox" name="gateway[testMode]" id="gateway_testMode" />
                </div>
            </div>
        {% endif %}

    </form>

{% endblock %}
