{% extends "::admin.html.twig" %}
{% block title %}Administrator edit bonus{% endblock %}

{% block body %}
    {{ form(form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_bonus_bonus') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}