{% extends "::admin.html.twig" %}

{% block title %}Bonuses{% endblock %}
{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('admin_bonus_give') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-control-play"></span> Give bonus
                </a>
            </div>
            <div class="page-toolbar">
                <a href="{{ path('admin_bonus_bonus_new') }}" class="btn btn-primary btn-block btn-fit-height blue" >
                    <span class="icon icon-control-play"></span> New bonus
                </a>
            </div>
        {% endblock %}
        {% block title %}Bonuses{% endblock %}
        {% block icon %}<i class="icon icon-users font-green-sharp"></i>{% endblock %}
    {% endembed %}
{% endblock %}