{% extends "::admin.html.twig" %}

{% block title %}Bonus{% endblock %}

{% block body %}
    <h1>Bonus</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{  entity.amount | number_format(2,'.') }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{  entity.price}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Is public?</th>
            <td>{{ entity.isPublic ? 'public' : 'private' }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_bonus_bonus') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
