{% extends "::base.html.twig" %}

{% block title entity.getSeoTitle(app.request.locale) %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>{{ entity.getName(app.request.locale) }}</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
<div class="content content--profile admin-pages">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                {{ entity.getContent(app.request.locale)|replace({'<p>&nbsp;</p>': ''})|raw }}
            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
