<div class="right-bar">

    {% if user.avatar is not empty %}
        {#<div class="profile__avatar" style="background-image: url({{ vich_uploader_asset(user, 'userFile', 'Casino\\UserBundle\\Entity\\User') }});"></div>#}
        <img class="profile__avatar" src="{{ path('casino_users_avatar', {'file': user.avatar}) }}">
    {% elseif (user.getPhoto) %}
        <div class="profile__avatar" style="background-image: url({{ user.getPhoto }});"></div>
    {% else %}
        <div class="profile__avatar" style="background-image: url( {{ asset('assets/images/silhouette.png') }} );"></div>
    {% endif %}
    <nav class="profile__nav">
        <a href="{{ path('casino_users_get_games') }}" class="profile__item button_decoration">Gaming History</a>
        <a href="{{ path('user_bonus_accs_list') }}" class="profile__item button_decoration">Bonus History</a>
        <a href="{{ path('user_treasury_deposit') }}" class="profile__item button_decoration">Deposit History</a>
        <a href="{{ path('casino_treasury_user_withdraw') }}" class="profile__item button_decoration">WithDraw Money</a>
        <a href="{{ path('useraffiliate') }}" class="profile__item button_decoration">Affiliates</a>
    </nav>
    <div class="profile__nav">
        {#<a href="#" class="profile__item button_decoration">add photo</a>#}
        <a href="{{ path('docs_index') }}" class="profile__item button_decoration">Upload documents</a>
    </div>
</div>
