<div class="sidebar">

    <div class="game game_middle">
        {{ game_item('ruletta-100') }}
    </div>

    {#<div class="clearfix"></div>#}
    <div class="game game_middle">
        {{ game_item('ruletta-25') }}
    </div>

    {#<div class="clearfix"></div>#}

    <div class="game game_middle">
        {{ game_item('ruletta-50') }}
    </div>

    {#<div class="clearfix"></div>#}

</div>
