{% extends '::base.html.twig' %}
{% form_theme edit_form '::user.form.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>User Affiliate Edit</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}
{% block body -%}
    {#<h1>UserAffiliate edit</h1>#}
<div class="content content--profile edit-affiliate">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                {{ form(edit_form, {'attr': {'class': 'form_edit checkbox-inline'}}) }}
                {#{{ form_start(edit_form, {'attr': {'class': 'form_edit'}}) }}#}
                {#<div class="promo-name-wrap">#}
                    {#{{ form_label(edit_form.promoName) }}#}
                    {#{{ form_errors(edit_form.promoName) }}#}
                    {#{{ form_widget(edit_form.promoName) }}#}
                {#</div>#}
                {#{{ form_widget(edit_form.isActive) }}#}
                {#<label class="choice" for="casino_userbundle_useraffiliate_isActive"></label>#}
                {#{{ form_widget(edit_form.submit) }}#}
                {#{{ form_rest(edit_form) }}#}
                {#{{ form_end(edit_form) }}#}
                <a href="{{ path('useraffiliate') }}" class="button_decoration edit-affiliate-btn">
                    Back to the list
                </a>
            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
{%

 endblock %}
