{% extends '::base.html.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>User Affiliate</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}
{% block body -%}
    <div class="content content--profile">
        <div class="wrap">
            <div class="wrap--page">
                <div class="left-bar">
                    <table class="records_list table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Promo name</th>
                                <th>Link</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('useraffiliate_show', { 'id': entity.id }) }}"
                                       class="tbl-row-number">{{
                                        entity.id }}</a></td>
                                <td>{{ entity.promoName }}</td>
                                <td><span>{{ url('casino_default_homepage_default') ~ "?btag=" ~ entity.hash }}</span></td>
                                <td>{{ entity.isActive ? 'active' : 'inactive' }}</td>
                                <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('useraffiliate_show', { 'id': entity.id }) }}"
                                           class="show-edit-style">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('useraffiliate_edit', { 'id': entity.id }) }}" class="show-edit-style">edit</a>
                                    </li>
                                </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                        <ul>
                        <li>
                            <a href="{{ path('useraffiliate_new') }}" class="button_decoration lower_btn">
                                Create a new entry
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right-bar">
                    {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
