{% extends '::base.html.twig' %}
{% form_theme form '::user.form.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>User Affiliate New</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}
{% block body -%}
    {#<h1>UserAffiliate creation</h1>#}
<div class="content content--profile edit-affiliate">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                {{ form(form) }}
                {#button_decoration edit-left-btn#}
                <a href="{{ path('useraffiliate') }}" class="button_decoration edit-affiliate-btn">
                    Back to the list
                </a>
            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
