{% extends '::base.html.twig' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>User Affiliate Edit</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}
{% block body -%}
    {#<h1>UserAffiliate</h1>#}
<div class="content content--profile">
    <div class="wrap">
        <div class="wrap--page">
            <div class="left-bar">
                <table class="record_properties table table-striped">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Promoname</th>
                        <td>{{ entity.promoName }}</td>
                    </tr>
                    <tr>
                        <th>Hash</th>
                        <td>{{ entity.hash }}</td>
                    </tr>
                    <tr>
                        <th>Isactive</th>
                        <td>{{ entity.isActive }}</td>
                    </tr>
                    <tr>
                        <th>Invited by this code</th>
                        <td>{{ affiliated }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons_row">
                    <a href="{{ path('useraffiliate') }}" class="button_decoration">Back to the list</a>
                    <a href="{{ path('useraffiliate_edit', { 'id': entity.id }) }}" class="button_decoration">Edit</a>
                </div>
            </div>
            <div class="right-bar">
                {% include 'CasinoPagesBundle:Default:sidebar.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
