{% extends "::admin.html.twig" %}

{% block title %}News Edit - {{ form.vars.value.getName }}{% endblock %}

{% block body %}
    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_news') }}">News</a></li>
                    <li class="active">{{ form.vars.value.getName }}</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>
        {{ form_errors(form) }}
        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}"/>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ obj.getWebPath }}" style="width: 90%;" id="thumb-photo"/>
                <input type="file" id="form_file" name="form[file]">
                <h4>Settings</h4>
                <div class="form-group">
                    <label for="form_is_active" class="col-sm-4 control-label">Is active</label>
                    <div class="col-sm-8" style="padding-top: 7px;">
                        <input type="checkbox" id="form_is_active" name="form[is_active]" value="1" {% if (form.vars.value.isActive) %}checked="checked"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form_locale" class="col-sm-4 control-label">Locale</label>
                    <div class="col-sm-8">
                        <select id="form_locale" name="form[locale]" class="form-control">
                            <option value="en"{% if (form.vars.value.getLocale=='en') %} selected="selected"{% endif %}>English</option>
                            <option value="es"{% if (form.vars.value.getLocale=='es') %} selected="selected"{% endif %}>Spanish</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="form-group">
                    <label for="form_name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="form[name]" class="form-control" id="form_name" value="{{ form.vars.value.getName }}" required="required">
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="form_slug" class="col-sm-2 control-label">Slug</label>
                    <div class="col-sm-10">
                        <input type="text" name="form[slug]" class="form-control" id="form_slug" value="{{ form.vars.value.getSlug }}" required="required">
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
                {{ form_errors(form.description) }}
                {{ form_errors(form.content) }}
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#form_description_tab" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#form_content_tab" role="tab" data-toggle="tab">Content</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="form_description_tab">
                       <textarea class="form-control" id="form_description" name="form[description]">{{ form.vars.value.getDescription }}</textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="form_content_tab">
                        <textarea class="form-control" id="form_content" name="form[content]">{{ form.vars.value.getContent }}</textarea>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <script src="{{ asset('bundles/casinomedia/js/media.js') }}"></script>
    <script>
        $('#form_file').change(function(e){
            handleMediaSimplePhoto(e, '#thumb-photo');
        })
    </script>
{% endblock %}
