{% extends "::admin.html.twig" %}

{% block title %}News{% endblock %}

{% block body %}
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            <div class="page-toolbar">
                <a href="{{ path('casino_admin_news_add') }}" class="btn btn-primary btn-block btn-fit-height red-soft" >
                    <span class="fa fa-comment-o"></span> Add
                </a>
            </div>
        {% endblock %}
        {% block title %}News{% endblock %}
        {% block icon %}<i class="fa fa-comments font-green-sharp"></i>{% endblock %}
    {% endembed %}
{% endblock %}