{% extends "::admin.html.twig" %}

{% block title %}Game - {{ form.vars.value.getNameEn }}{% endblock %}

{% block body -%}
    <form class="form-horizontal" role="form" method="POST" action="/admin/game/update/{{ entity.getId }}">
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('admin_game') }}">Games</a></li>
                    <li class="active">{{ form.vars.value.getNameEn }}</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>
        {{ form_errors(form) }}
        <input type="hidden" name="casino_gamebundle_game[_token]" value="{{ csrf_token('casino_gamebundle_game') }}"/>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="form_slug" class="col-sm-2 control-label">Slug</label>

                    <div class="col-sm-10">
                        <input type="text" name="casino_gamebundle_game[slug]" class="form-control" id="form_slug"
                               value="{{ form.vars.value.getSlug }}" required="required">
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="form_icon" class="col-sm-2 control-label">Icon</label>

                    <div class="col-sm-10">
                        <input type="text" name="casino_gamebundle_game[icon]" class="form-control" id="form_icon"
                               value="{{ form.vars.value.getIcon }}" required="required">
                        {{ form_errors(form.icon) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="form_icon_big" class="col-sm-2 control-label">Big icon</label>

                    <div class="col-sm-10">
                        <input type="text" name="casino_gamebundle_game[iconBig]" class="form-control"
                               id="form_icon_big"
                               value="{{ form.vars.value.getIconBig }}">
                        {{ form_errors(form.iconBig) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="form_icon_big" class="col-sm-2 control-label">Wage rate %</label>
                    <div class="col-sm-10">
                        {{ form(form.wageRate) }}
                        {{ form_errors(form.wageRate) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#form_name_en_tab" role="tab"
                                                                      data-toggle="tab">Name EN</a></li>
                            <li role="presentation"><a href="#form_name_es_tab" role="tab" data-toggle="tab">Name ES</a>
                            </li>
                        </ul>
                        {{ form_errors(form.nameEn) }}
                        {{ form_errors(form.nameEs) }}
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="form_name_en_tab">
                                <input type="text" name="casino_gamebundle_game[nameEn]" class="form-control"
                                       id="form_nameEn" value="{{ form.vars.value.getNameEn }}" required="required">
                            </div>
                            <div role="tabpanel" class="tab-pane" id="form_name_es_tab">
                                <input type="text" name="casino_gamebundle_game[nameEs]" class="form-control"
                                       id="form_nameEs" value="{{ form.vars.value.getNameEs }}" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#form_seo_en_tab" role="tab" data-toggle="tab">SEO
                            EN</a></li>
                    <li role="presentation"><a href="#form_seo_es_tab" role="tab" data-toggle="tab">SEO ES</a></li>
                </ul>
                <br/>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="form_seo_en_tab">
                        <div class="form-group">
                            <label for="form_seoTitleEn" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input type="text" name="casino_gamebundle_game[seoTitleEn]" class="form-control"
                                       id="form_seoTitleEn" value="{{ form.vars.value.getSeoTitleEn }}">
                                {{ form_errors(form.seoTitleEn) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoDescriptionEn" class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10">
                                <input type="text" name="casino_gamebundle_game[seoDescriptionEn]" class="form-control"
                                       id="form_seoDescriptionEn" value="{{ form.vars.value.getSeoDescriptionEn }}">
                                {{ form_errors(form.seoDescriptionEn) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoKeywordsEn" class="col-sm-2 control-label">Keywords</label>

                            <div class="col-sm-10">
                                <input type="text" name="casino_gamebundle_game[seoKeywordsEn]" class="form-control"
                                       id="form_seoKeywordsEn" value="{{ form.vars.value.getSeoKeywordsEn }}">
                                {{ form_errors(form.seoKeywordsEn) }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="form_seo_es_tab">
                        <div class="form-group">
                            <label for="form_seoTitleEs" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input type="text" name="casino_gamebundle_game[seoTitleEs]" class="form-control"
                                       id="form_seoTitleEs" value="{{ form.vars.value.getSeoTitleEs }}">
                                {{ form_errors(form.seoTitleEs) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoDescriptionEs" class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10">
                                <input type="text" name="casino_gamebundle_game[seoDescriptionEs]" class="form-control"
                                       id="form_seoDescriptionEs" value="{{ form.vars.value.getSeoDescriptionEs }}">
                                {{ form_errors(form.seoDescriptionEs) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_seoKeywordsEs" class="col-sm-2 control-label">Keywords</label>

                            <div class="col-sm-10">
                                <input type="text" name="casino_gamebundle_game[seoKeywordsEs]" class="form-control"
                                       id="form_seoKeywordsEs" value="{{ form.vars.value.getSeoKeywordsEs }}">
                                {{ form_errors(form.seoKeywordsEs) }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <h4>Settings</h4>

                <div class="form-group">
                    <label for="form_is_active" class="col-sm-4 control-label">Is active</label>

                    <div class="col-sm-8" style="padding-top: 7px;">
                        <input type="checkbox" id="form_is_active" name="casino_gamebundle_game[is_active]" value="1"
                               {% if (form.vars.value.isActive) %}checked="checked"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="is_cash_disabled" class="col-sm-4 control-label">Is play for real disabled?</label>

                    <div class="col-sm-8" style="padding-top: 7px;">
                        <input type="checkbox" id="is_cash_disabled" name="casino_gamebundle_game[is_cash_disabled]" value="1"
                               {% if (form.vars.value.isCashDisabled) %}checked="checked"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form_sort" class="col-sm-2 control-label">Sort key</label>

                    <div class="col-sm-10">
                        <input type="text" name="casino_gamebundle_game[sort]" class="form-control"
                               id="form_sort" value="{{ form.vars.value.getSort }}">
                        {{ form_errors(form.sort) }}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#form_content_en_tab" role="tab" data-toggle="tab">Script</a>
                    </li>
                    <li role="presentation"><a href="#form_content_es_tab" role="tab" data-toggle="tab">Object</a></li>
                    <li role="presentation"><a href="#main_position_tab" role="tab" data-toggle="tab">Position</a></li>
                </ul>
                {{ form_errors(form.script) }}
                {{ form_errors(form.object) }}
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="form_content_en_tab">
                        <textarea class="form-control" id="form_contentEn" name="casino_gamebundle_game[script]"
                                  style="height: 350px;">{{ form.vars.value.getScript }}</textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="form_content_es_tab">
                        <textarea class="form-control" id="form_contentEs" name="casino_gamebundle_game[object]"
                                  style="height: 350px;">{{ form.vars.value.getObject }}</textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="main_position_tab">
                        <table class="table position-table">
                            <tr>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="1"
                                                  {% if entity.getMainPosition == 1 %}checked{% endif %} {% if reservedPosition[1] is defined %}disabled{% endif %}/></label>
                                </td>
                                <td rowspan="2" colspan="2" style="padding-top: 30px;">
                                    <label><input type="radio" name="casino_gamebundle_game[mainPosition]"
                                                  value="2"
                                                  {% if reservedPosition[2] is defined %}disabled{% endif %}
                                                {% if entity.getMainPosition == 2 %}checked{% endif %}/></label>
                                </td>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="3"
                                                  {% if entity.getMainPosition == 3 %}checked{% endif %} {% if reservedPosition[3] is defined %}disabled{% endif %}/></label>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="4"
                                                  {% if entity.getMainPosition == 4 %}checked{% endif %} {% if reservedPosition[4] is defined %}disabled{% endif %}/></label>
                                </td>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="5"
                                                  {% if entity.getMainPosition == 5 %}checked{% endif %} {% if reservedPosition[5] is defined %}disabled{% endif %}/></label>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="6"
                                                  {% if entity.getMainPosition == 6 %}checked{% endif %} {% if reservedPosition[6] is defined %}disabled{% endif %}/></label>
                                </td>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="7"
                                                  {% if entity.getMainPosition == 7 %}checked{% endif %} {% if reservedPosition[7] is defined %}disabled{% endif %}/></label>
                                </td>
                                <td><label><input type="radio" name="casino_gamebundle_game[mainPosition]" value="8"
                                                  {% if entity.getMainPosition == 8 %}checked{% endif %} {% if reservedPosition[8] is defined %}disabled{% endif %}/></label>
                                </td>
                                <td>
                                    <a href="javascript:void(0)"
                                       onclick="$('input[type=radio]').prop('checked', false);" class="btn btn-default">Clear</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                    {#{{ form(delete_form) }}#}
            </div>
        </div>
    </form>
    {#{{ form(delete_form) }}#}
    <style>
        .position-table td {
            vertical-align: middle;
            text-align: center;
            width: 25%;
        }

        .position-table td label {
            width: 100%;
        }
    </style>
{% endblock %}
