{% extends "::admin.html.twig" %}

{% block title %}Winning Statistics{% endblock %}

{% block body %}
    <div class="reset-rows">
    {% embed "::admin.datatables.html.twig" %}
        {% block custom_toolbar %}
            {% if createdAt is defined and createdAt is not null %}
                <div class="page-toolbar">
                    <div class="btn-group btn-group-solid">
                        <a href="{{ path('admin_winning_statistics') }}"
                           class="btn btn-fit-height blue-madison"
                           title="Return to unfiltered results">
                            <span class="icon icon-bar-chart"></span> Back
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% set title = 'Winning Statistics' %}
        {% block title %}{{ title }}{% endblock %}
        {% block icon %}<i class="icon icon-bar-chart font-green-sharp"></i>{% endblock %}
    {% endembed %}
    </div>
{% endblock %}
