{% extends "::admin.html.twig" %}

{% block title %}User Create Deposit - {{ user.getNickname }}{% endblock %}

{% block body %}
    <form class="form-horizontal" role="form" method="POST">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_users') }}">Users</a></li>
                    <li class="active">Create deposit - {{ user.getNickname }}</li>
                </ol>
            </div>

        </div>

        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}"/>

        <div class="row">
            <div class="col-md-3">
                {% if (user.getPhoto) %}
                    <img src="{{ user.getPhoto }}" class="img-thumbnail" style="width: 100%">
                {% else %}
                    <img src="https://itss.untsystem.edu/sites/default/files/photo_default.png" class="img-thumbnail"
                         style="width: 100%">
                {% endif %}
                <dl>
                    <dt>Last Login</dt>
                    <dd>{{ user.getLastLogin|date('Y-m-d H:i:s') }}</dd>
                    <dt>Created At</dt>
                    <dd>{{ user.getCreateDate|date('Y-m-d H:i:s') }}</dd>
                </dl>
            </div>
            <div class="col-md-9">
                <h3>Current balance<br/>
                    <i style="margin-left: 40px">$ wallet: <b>{{ user.getBalance }}$</b></i><br/>
                    <i style="margin-left: 40px">bonus wallet: <b>{{ user.getBonusBalance }}$</b></i></h3>

                {#<div class="form-group">#}
                    {#<label for="user_money" class="col-sm-2 control-label">Add funds</label>#}

                    {#<div class="col-sm-4">#}
                        {#<input type="text" class="form-control" id="user_money" name="realForm[money]" value="0">#}
                    {#</div>#}
                    {#<div class="col-sm-4">#}
                        {#<button type="submit" class="btn btn-default">Add</button>#}
                    {#</div>#}
                {#</div>#}
                {{ form(form) }}
                <h3>Deposit history</h3>
                {{ grid(grid,'::grid_blocks.html.twig') }}
            </div>
        </div>

    </form>
{% endblock %}
