{% extends "::admin.html.twig" %}
{% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap-multiselect.css') }}" type="text/css" rel="stylesheet" />
    <style>
        .margin-t-20 {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#multiple-select').find('select').multiselect();
    });
    </script>
{% endblock %}
{% block title %}User Edit - {{ user.getNickname }}{% endblock %}

{% block body %}

{% embed "::admin.configs.html.twig" %}
        {% block custom_toolbar %}
            {% if user is defined and user is not null %}
        <div class="page-toolbar">
                <div class="btn-group btn-group-solid">
                    <a href="{{ path('userdata_gamelog', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon-control-play"></span> Game logs
                    </a>
                    <a href="{{ path('userdata_deposit', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-usd"></span> Deposits
                    </a>
                    <a href="{{ path('userdata_transactions', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon icon-login"></span> Transactions
                    </a>
                    <a href="{{ path('userdata_withdraw', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-credit-card"></span> Payouts
                    </a>
                    <a href="{{ path('userdata_docs', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="fa icon-docs"></span> Docs
                    </a>
                    <a href="{{ path('userdata_sessions', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-history"></span> Sessions
                    </a>
                    <a href="{{ path('userdata_affils', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon-users"></span> Affils
                    </a>
                    <a href="{{ path('userdata_bonuses', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-trophy"></span> Bonuses
                    </a>
                    <a href="{{ path('admin_bonus_give_mail', {'email' : user.emailCanonical}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="fa fa-gift"></span> Give bonus
                    </a>
                </div>
        </div>
            {% endif %}
        {% endblock %}
    {% block title %}User Edit - {{ user.getNickname }}{% endblock %}
    {% block icon %}<i class="icon icon-users font-green-sharp"></i>{% endblock %}
    {% block configs %}
        {% form_theme form '::admin.form.twig' %}
        <form {{ form_enctype(form) }} method="POST" class="admin_edit_user form">
            {{ form_widget(form) }}
            <div class="submit-errors">
                {{ form_errors(form) }}
            </div>
        </form>
    {% endblock %}

{% endembed %}
{% endblock %}