{% extends "::admin.html.twig" %}

{% block title %}Users{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" type="text/css"/>
    {% stylesheets 'assets/css/jquery-ui.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed "::admin.datatables.html.twig" %}
            {% block custom_toolbar %}
                {% if user is defined and user is not null %}
            <div class="page-toolbar">
                <div class="btn-group btn-group-solid">
                    <a href="{{ path('casino_admin_users_edit', {'username' : user.username}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon-user"></span> Back to user
                    </a>
                    <a href="{{ path('userdata_gamelog', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon-control-play"></span> Game logs
                    </a>
                    <a href="{{ path('userdata_deposit', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-usd"></span> Deposits
                    </a>
                    <a href="{{ path('userdata_transactions', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon icon-login"></span> Transactions
                    </a>
                    <a href="{{ path('userdata_withdraw', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-credit-card"></span> Payouts
                    </a>
                    <a href="{{ path('userdata_docs', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="fa icon-docs"></span> Docs
                    </a>
                    <a href="{{ path('userdata_sessions', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-history"></span> Sessions
                    </a>
                    <a href="{{ path('userdata_affils', {'userid' : user.id}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="icon icon-users"></span> Affils
                    </a>
                    <a href="{{ path('userdata_bonuses', {'userid' : user.id}) }}" class="btn btn-fit-height blue-steel" >
                        <span class="fa fa-trophy"></span> Bonuses
                    </a>
                    <a href="{{ path('admin_bonus_give_mail', {'email' : user.emailCanonical}) }}" class="btn btn-fit-height blue-madison" >
                        <span class="fa fa-gift"></span> Give bonus
                    </a>
                </div>
            </div>
                {% endif %}
        {% endblock %}
        {% block title %}Users{% endblock %}
        {% block icon %}<i class="icon icon-users font-green-sharp"></i>{% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#grid_id__last_activity__query__from').datepicker({
                dateFormat: 'yy-mm-dd',
                theme: 'dark',
                dayOfWeekStart: 1,
                changeMonth: true,
                changeYear: true,
                yearRange: "2015:+10",
                onSelect: function(){
                    $('#grid_id').submit();
                }
            });
        });
    </script>

    {% javascripts '@CasinoUserBundle/Resources/public/js/jquery-ui.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
