{#{% extends "::ajax.html.twig"  %}#}

{#{% block title "Play Game" %}#}

{% block body %}
    {#<div class="bg-white">#}
<div id="sign_in" class="popup login-box">
    <a class="popup-close" href="javascript:void(0)" onclick="$.fancybox.close();"></a>
    <div class="popup-content">

        {% if has_bonus %}
            <div class="popup-title">Choose way to play:</div>
            <a class="button button-md button-win" href="{{ path('casino_game_run',{'game':game,'type':'bonus'}) }}">use {{ currentBonus.inputChoise }}</a>
        {% else %}
            <div class="popup-title">Get the bonus now!</div>
            <a class="button button-md button-win" href="{{ path('casino_users_get_bonuses') }}">Get bonus!</a>
        {% endif %}
        {% if not isCashDisabled %}
            <a class="button button-md button-win"
               href="{{ path('casino_game_run',{'game':game,'type':'real'}) }}">... or play for real money!</a>
        {% endif%}

    </div>
    </div>
{% endblock %}
