{% extends "::base.html.twig" %}

{% block title 'Games' %}
{% block toptitle %}
    <div class="top_title"{% if(app.user) %} style="top: 295px;"{% endif %}>
        <div class="stars left"></div>
        <div class="title">
            <h1>Games</h1>
        </div>
        <div class="stars right"></div>
    </div>
{% endblock %}

{% block body %}
    <div class="main games">
        <div class="center_box">
            {% for game in games %}
                <div class="game game_middle" style="margin-top: 55px;">
                    {{ game_item(game.getSlug) }}
                </div>
            {% endfor %}
        </div>
        <br/><br/>
    </div>
{% endblock %}
