{% extends app.request.isxmlhttprequest ? "::ajax.html.twig" : "::game.html.twig" %}

{% block title "Play Game" %}

{% block body %}
    <script type="text/javascript">
        // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
        var swfVersionStr = "14.0.0";
        // To use express install, set to playerProductInstall.swf, otherwise the empty string.
        var xiSwfUrlStr = "playerProductInstall.swf";
        var flashvars = {
            user_id: {% if(app.user==null or type=='demo') %}2{% else %}{{ app.user.id }}{% endif %},
            balance: 500000,
            token: '{{ token }}',
            game_id: {{ entity.getId }}
        };
        var params = {};
        params.quality = "high";
        params.allowscriptaccess = "sameDomain";
        params.allowfullscreen = "true";
        var attributes = {};

        {{ entity.getScript|raw }}
        // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
        swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        $(function () {
            GameResize();
        });
    </script>
    <div id="flashContentWrap">
        <div id="flashContent">
            <p>
                To view this page ensure that Adobe Flash Player version
                14.0.0 or greater is installed.
            </p>
            <script type="text/javascript">
                var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
            </script>
        </div>
    </div>

    <noscript>
        {{ entity.getObject|raw }}
    </noscript>
    <style>

        #flashContentWrap {
            width: 100%;
        }

        .fancybox-close {
            right: -33px !important;
        }
    </style>
{% endblock %}
