{% extends "::admin.html.twig" %}
{% block title %}Create Administrator{% endblock %}

{% block body %}
    <form class="form-horizontal" role="form" method="POST">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_administrators') }}">Administrators</a></li>
                    <li class="active">Create administrator</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>

        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}"/>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

                <div class="form-group">
                    <label for="user_username" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user_username" name="form[username]"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="user_email" name="form[email]"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_locale" class="col-sm-2 control-label">Role</label>

                    <div class="col-sm-10">
                        <select id="user_role" class="form-control" name="user_role">
                            <option value="ROLE_CONTENT_MANAGER">
                                Content manager
                            </option>
                            <option value="ROLE_HELP_DESK">
                                Help Desk
                            </option>
                            <option value="ROLE_ADMIN">
                                Admin
                            </option>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                            <option value="ROLE_ADMIN">
                                Super admin
                            </option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user_password" name="user_password" required>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
