{% extends "::admin.html.twig" %}
{% block title %}Administrator Edit - {{ user.getUsername }}{% endblock %}

{% block body %}
    <form class="form-horizontal" role="form" method="POST">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('casino_admin_administrators') }}">Administrators</a></li>
                    <li class="active">{{ user.getUsername }}</li>
                </ol>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>

        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}"/>

        <div class="row">
            <div class="col-md-3">
                <dl>
                    <dt>Last Login</dt>
                    <dd>{{ user.getLastLogin|date('Y-m-d H:i:s') }}</dd>
                    <dt>Created At</dt>
                    <dd>{{ user.getCreateDate|date('Y-m-d H:i:s') }}</dd>
                </dl>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label for="user_id" class="col-sm-2 control-label">Id</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user_id" value="{{ user.getId }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_username" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user_username" value="{{ user.getUsername }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="user_email" name="form[email]"
                               value="{{ user.getEmail }}">
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> Dangerous
            settings
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_locked" class="col-sm-2 control-label">Locked</label>

                    <div class="col-sm-10">
                        <select id="user_locked" name="form[locked]" class="form-control">
                            <option value="1"{% if (user.isLocked) %} selected="selected"{% endif %}>Yes</option>
                            <option value="0"{% if (user.isLocked==false) %} selected="selected"{% endif %}>No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_locale" class="col-sm-2 control-label">Role</label>

                    <div class="col-sm-10">
                        <select id="user_role" class="form-control" name="user_role">
                            <option value="ROLE_CONTENT_MANAGER"{% if (user.hasRole('ROLE_CONTENT_MANAGER')) %} selected="selected"{% endif %}>
                                Content manager
                            </option>
                            <option value="ROLE_HELP_DESK"{% if (user.hasRole('ROLE_HELP_DESK')) %} selected="selected"{% endif %}>
                                Help Desk
                            </option>
                            <option value="ROLE_ADMIN"{% if (user.hasRole('ROLE_ADMIN')) %} selected="selected"{% endif %}>
                                Admin
                            </option>
                            {% if (isSuperAdmin) %}
                            <option value="ROLE_SUPER_ADMIN"{% if (user.hasRole('ROLE_SUPER_ADMIN')) %} selected="selected"{% endif %}>
                                Super admin
                            </option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user_password" class="control-label">New Password</label>
                    <input type="text" class="form-control" id="user_password" name="user_password">
                    <small>* rewriting user password</small>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
