<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>{% block title %}Admin{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

<!-- yes -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<!-- ? -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
{% block stylesheets %}
   <style type="text/css">
       html, html body {
           line-height: 1;
           font-size: 100%;
           background: url("{{ asset('assets/img/back.jpg') }}") repeat scroll center center / contain rgba(0, 0, 0, 0);
       }
       .logo-wrapper {
           background: url("{{ asset('assets/img/logo.png') }}") no-repeat scroll calc(50% + 462px) 165px,
           url("{{ asset('assets/img/logo.png') }}") no-repeat scroll calc(50% - 462px) 165px rgba(0, 0, 0, 0);
           cursor: pointer;
           display: block;
           height: 100%;
           outline: medium none;
           position: absolute;
           width: 100%;
           z-index: 0;
           left: 0;
           top:0;
       }</style>
{% endblock %}

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- no --> <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
<!-- no --> <link href="{{ asset('assets/admin/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<!-- yes -->
<!-- <link href="{{ asset('assets/admin/global/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" type="text/css"/> -->
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css"/>
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" type="text/css"/>
<!-- yes --> <link href="{{ asset('assets/admin/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGIN STYLES -->

<!-- BEGIN PAGE STYLES -->
<!-- no need --> <link href="{{ asset('assets/admin/admin/pages/css/tasks.css') }}" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->

<!-- BEGIN THEME STYLES -->
<!-- no need --> <link href="{{ asset('assets/admin/global/css/components-md.css') }}" rel="stylesheet" type="text/css"/>
<!-- no need --> <link href="{{ asset('assets/admin/global/css/plugins-md.css') }}" rel="stylesheet" type="text/css"/>
<!-- no need --> <link href="{{ asset('assets/admin/admin/layout2/css/layout.css') }}" rel="stylesheet" type="text/css"/>
<!-- no need --> <link href="{{ asset('assets/admin/admin/layout2/css/themes/blue.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
<!-- no need --> <link href="{{ asset('assets/admin/admin/layout2/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/admin/admin/pages/css/login.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<!-- yes -->
<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- yes -->
<!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<!-- yes -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

</head>
<!-- END HEAD -->

<body class="page-md login">

{#% include '::admin.header.html.twig' %#}
{#% include '::admin.sidebar.html.twig' %#}
{#1% include '::admin.quicksidebar.html.twig' %#}
<!-- {1% include '::admin.content.html.twig' %} -->
<div class="menu-toggler sidebar-toggler"> </div>
<div class="logo">
    <a href="/" class="logo-wrapper">
    </a>
</div>
<div class="content">
    {% block body %}
        <form method="post" action="{{ path("admin_check") }}" class="login-form form-horizontal" novalidate="novalidate">
            <h3 class="form-title">Sign In</h3>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="alert alert-danger display-hide">
                <button data-close="alert" class="close"></button>
			<span>
			Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="_username" id="username"/>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password" id="password"/>
            </div>
            <div class="form-actions">
                <button class="btn btn-success uppercase" type="submit">Login</button>
                <label class="rememberme check">
                    <input type="checkbox" name="_remember_me" id="remember_me" value="1" checked/>Remember </label>
                {#<a class="forget-password" id="forget-password" href="javascript:;">Forgot Password?</a>#}
            </div>
            {#<div class="login-options">
                <h4>Or login with</h4>
                <ul class="social-icons">
                    <li>
                        <a href="javascript:;" data-original-title="facebook" class="social-icon-color facebook"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Twitter" class="social-icon-color twitter"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Goole Plus" class="social-icon-color googleplus"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Linkedin" class="social-icon-color linkedin"></a>
                    </li>
                </ul>
            </div>#}
        </form>


    {% endblock %}
</div>
<div class="copyright">2015 © Lotedo.com Admin Panel</div>
{#% include '::admin.footerjs.html.twig' %#}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery-migrate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery.blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/uniform/jquery.uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery.cokie.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/global/scripts/metronic.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/admin/layout/scripts/layout.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/admin/pages/scripts/login.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
           // Demo.init();
        });
    </script>
{% endblock %}
</body>
</html>
