{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: '::base.html.twig' %}

{% block body %}
    <div id="sign_in" class="popup login-box">
        <a class="popup-close" href="javascript:void(0)" onclick="$.fancybox.close();"></a>

        <div class="popup-content">
            <div class="popup-title">{{ 'sign_in.popup_title'|trans }}</div>
            <form id="login-form" class="fos_user_registration_register" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="row">
                    <div class="login-inputs">
                        <div class="intup-wrapper">
                            <input class="popup-input" type="text" id="username"
                                   placeholder="{{ 'sign_in.login_ph'|trans }}" name="_username"
                                   required="required"/>
                        </div>
                        <div class="intup-wrapper">
                            <input class="popup-input" type="password" placeholder="{{ 'sign_in.pass_ph'|trans }}"
                                   id="password"
                                   name="_password" required="required"/>
                        </div>
                        <div class="hidden">
                            <label for="remember_me" class="label">{{ 'security.login.remember_me'|trans }}</label>
                            <input
                                    type="checkbox"
                                    id="remember_me"
                                    name="_remember_me"
                                    value="on"/>
                        </div>

                        <div class="intup-wrapper">
                            <div id="login-errors">
                                {% if error %}
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="intup-wrapper">
                            <a class="button button-submit" href="javascript:void(0)"
                               onclick="$('#login-form').submit();">{{ 'sign_in.submit'|trans }}</a>
                        </div>
                    </div>
                    <div class="social-column">
                        <script src="https://ulogin.ru/js/ulogin.js"></script>
                        <div id="uLogin" class="social-block u-login" data-ulogin="display=panel;fields=first_name,last_name;optional=nickname,phone,sex,photo_big,email;providers=twitter,vkontakte,googleplus,facebook;hidden=;redirect_uri={{ url('casino_users_social') }}"></div>
                    </div>
                </div>
                <div class="row unpad">
                    <a href="{{ path('fos_user_registration_register') }}"
                       class="fancybox fancybox.ajax register-bt button button-submit submit-sm divide-6">{{ 'sign_in.registration_register'|trans }}</a>
                    <a href="{{ path('fos_user_resetting_request') }}"
                       class="fancybox fancybox.ajax recover-bt button button-submit submit-sm divide-6">{{ 'sign_in.resetting_request'|trans }}</a>
                    {# <a href="#" class="recover_pass">recover password</a>#}
                </div>
            </form>
        </div>
    </div>
    <script>
        /*
         if(!!uLogin && !!uLogin.customInit){
         uLogin.customInit("uLogin-social");
         }
         */

        $('#login-form').submit(function (e) {
            $.ajax({
                type: $('#login-form').attr('method'),
                url: $('#login-form').attr('action'),
                data: $('#login-form').serialize(),
                success: function (data, status, object) {
                    if (data.success == false) {
                        $('#login-errors').html(data.message);
                        $('.inp_row').addClass('error');
                        setTimeout(function () {
                            $('.inp_row').removeClass('error');
                        }, 2000);
                    } else {
                        window.location.href = data.targetUrl;
                    }
                }
            });
            return false;
        });
    </script>
{% endblock body %}
