{% extends "::admin.html.twig" %}

{% block body -%}
    <h1>Withdraw Request #{{ id }} edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <a class="btn-default btn" href="{{ path('admin_withdraw') }}">
            Back to the list
        </a>
        {{ form(delete_form, {'attr':{'style':'float:left;'}}) }}
    </ul>
{% endblock %}
