{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Withdraw Request creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_withdraw') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
