{% extends "::admin.html.twig" %}

{% block title %}Withdraw requests{% endblock %}

{% block body -%}
    <h1>WithdrawRequest</h1>
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('admin_withdraw') }}">Withdraw requests</a></li>
                <li class="active">{{ entity.id }}</li>
            </ol>
        </div>
    </div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Changed at</th>
                <td>{{ entity.changedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {% if entity is defined %}
        {% if entity.deposit is not null %}
        <p>Deposit url:  [<a href="{{ url('admin_treasury_deposit_show', {'id':entity.deposit.id}) }}" title="transaction">Deposit</a>]</p>
        {% endif %}
    {% endif %}

    <ul class="record_actions">
        <a class="btn-default btn" href="{{ path('admin_withdraw') }}">
            Back to the list
        </a>
        <a class="btn-default btn" href="{{ path('admin_withdraw_edit', { 'id': entity.id }) }}">
            Edit
        </a>
        {{ form(delete_form, {'attr':{'style':'float:left;'}}) }}
    </ul>
{% endblock %}
