{% extends "::admin.html.twig" %}

{% block title %}Homepage settings{% endblock %}

{% block body %}
    <h3 class="page-title">
        Main page slider settings</h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Main slider settings</a>
            </li>
        </ul>
    </div>
    <h1>Slides</h1>
    <small style="padding-left: 10px;">&lt;click to remove&gt;</small>
    <ul style="padding-left: 0;">
        {% for key, slide in slides %}
            <li class="slider-li" ><a href="{{ path('casino_media_slider_delete', {'id': key, 'name': slide }) }}"><img width="200px" src="/assets/slides/{{ slide }}" title="{{ slide|e }}"></a></li>
        {% endfor %}
    </ul>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-md-6 col-sm-6">
                {{ form(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
