{% extends "::admin.html.twig" %}

{% block title %}Mailing Settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                <li>Mailing Settings</li>
            </ol>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        {% for mailing in mailings %}
            <tr>
                <td>{{ mailing }}</td>
                <td style="width: 100px;">
                    <a class="btn btn-default"
                       href="{{ path('casino_mailing_admin_setting_update',{'name':mailing}) }}">Configure</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
