{% extends "::admin.html.twig" %}

{% block title %}Mailing Settings{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <form role="form" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('casino_mailing_admin_setting') }}">Mailing Settings</a></li>
                <li>{{ name }}</li>
            </ol>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" type="submit"><span
                        class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    </div>
        {{ form_widget(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.replace( 'casino_mailingbundle_template_content', { language: 'en'});
    </script>
{% endblock %}
