/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


.slider-li {
    list-style: none;
    padding: 10px;
}


.filters-button {
    width: 100%;
    text-align: center;
}

tr.filter th.last-column {
    vertical-align: top;
}

.btn.grid-reset {
    margin-left: 3px;
}

.btn-wide {
    min-width: 120px;
}

tr.filter select.form-control {
    min-width: 110px;
}

.filter-submit-buttons {
    margin: 0 0 0 5px;
}

.table-filters {
    margin: 0 0 20px 0;
}
.table-filters .column-title {
    float: left;
    font-size: 14px;
    padding: 1px 5px;
}

table.filtered {
    width: 49%;
    float: left;
}
table.filtered:nth-child(odd) {
    margin: 0 2% 0 0;
}
    table.filtered td {
        width: 120px;
        padding: 1px 5px;
    }
    table.filtered td.column-title {
        width: 150px;
        text-transform: capitalize;
    }

table.table a.underline {
    text-decoration: underline;
}

.reset-rows .table-striped > tbody > tr:nth-child(2n+1) > td,
.reset-rows .table-striped > tbody > tr:nth-child(2n+1) > th {
    background: none;
}
