{% extends "::admin.html.twig" %}
{% block title %}Administrator edit deposit{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ path('casino_admin_homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('admin_treasury_deposit') }}">Deposits</a></li>
                </ol>
            </div>
            {#<li class="active">{{ entity.amount }}</li>#}
            {#<div class="col-md-3">#}
                {#<button class="btn btn-primary btn-block" type="submit"><span#}
                            {#class="glyphicon glyphicon-floppy-disk"></span> Save#}
                {#</button>#}
            {#</div>#}
        </div>
        <div class="well">
            {{ form(form) }}
        </div>
{% endblock %}