{% extends "::admin.html.twig" %}

{% block title %}Treasury Deposit{% endblock %}

{% block body %}
    <h1>{% if title is defined %}
            {{ title }}
        {% endif %}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ entity.amount }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>From</th>
            <td>{{ entity.from }}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{{ entity.to }}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>{{ entity.detailsJson }}</td>
        </tr>
        <tr>
            <th>Create date</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions" style="margin-top: 15px">
        <li>
            <a href="{{ path('admin_treasury_deposit') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
