{% extends "::admin.html.twig" %}

{% block title %}Treasury Deposit{% endblock %}

{% block body %}
    <h1>{% if title is defined %}
            {{ title }}
        {% endif %}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ entity.amount }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type ? 'ingoing' : 'outgoing'}}</td>
        </tr>
        <tr>
            <th>Create date</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_treasury_transactions') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
